<link rel="stylesheet" href="/css/recours/add.css">
{{#each listaCurso}}
<form action="/material/curso/{{idCours}}" method="post">
    <div id="contenedor">
        <div id="fondo">
            <img src="/img/fondo/Tareas.png" alt="Fondo">
        </div>
        <div id="titulo">{{#each ../maximo}}
            <h1>Agregar Material de Curso <input type="text" name="idMaterial" id="numero" required
                    value="{{Maximo}}"></h1>{{/each}}
        </div>
        <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
        <div id="datos">
            <div id="nombre">
                <p>Nombre del Material Curso:</p>
                <input type="text" name="nameMaterial" id="nameRecours" required>
            </div>
            <div id="descripcion">
                <p>Descripcion del Material:</p>
                <textarea type="text" name="descriptionMaterial" id="descriptionRecourse" required></textarea>
            </div>
            <div id="cantidad">
                <p>Cantidad del Material:</p>
                <input type="text" name="quantyMaterailClass" id="quantyRecours" required>
            </div>
            <div id="valor">
                <p>Precio del Material</p>
                <input type="text" name="valueMaterial" id="valueRecours" required>
            </div>
            <div id="boton">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>
{{/each}}


{{#each listaClase}}
<form action="/material/clase/{{idClases}}" method="post">
    <div id="contenedor">
        <div id="fondo">
            <img src="/img/fondo/Tareas.png" alt="Fondo">
        </div>
        <div id="titulo">{{#each ../lista}}
            <h1>Agregar Material de Clase N° <input type="text" name="idMaterial" id="numero" required
                    value="{{Maximo}}"></h1>{{/each}}
        </div>
        <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
        <div id="datos">
            <div id="nombre">
                <p>Nombre del Material Curso:</p>
                <input type="text" name="nameMaterial" id="nameRecours" required>
            </div>
            <div id="descripcion">
                <p>Descripcion del Material:</p>
                <textarea type="text" name="descriptionMaterial" id="descriptionRecourse" required></textarea>
            </div>
            <div id="cantidad">
                <p>Cantidad del Material:</p>
                <input type="text" name="quantyMaterailClass" id="quantyRecours" required>
            </div>
            <div id="valor">
                <p>Precio del Material</p>
                <input type="text" name="valueMaterial" id="valueRecours" required>
            </div>
            <div id="boton">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>
{{/each}}
<script src="/js/numero.js"></script>