<link rel="stylesheet" href="/css/clases/detalle.css">
<div id="contenedor">
    {{#each lista}}
    <form action="/clases/detailList/{{idClases}}" method="get">
        <div id="datosClase">
            <div id="foto">
                <img src="/img/clases/{{photoClases}}" alt="Foto de la Clase">
            </div>
            <div id="Nombre">
                <h1>{{nameClases}}</h1>
            </div>
            <div id="tipoDeClase">
                <p>{{nameClasesClassType}}</p>
            </div>
            <div id="direccion">
                <div id="map"></div>
                <input type="text" name="ubicacion" id="ubicacion" value="{{ubicacionClase}}">
            </div>
            {{#if neeClases}}
            <input type="checkbox" name="adaptacion" id="adaptacion" value="{{neeClases}}">
            {{/if}}
        </div>
        <div id="video">
            <video src="/video/clases/{{videoClases}}" controls></video>
        </div>
        <div id="detallesClase">
            <div id="descripcion1">
                <h1>Descripción</h1>
                <p>{{descriptionClases}}</p>
            </div>
            <div id="contenedordocentes">
                {{#each ../docenteLista}}
                <div id="docente">
                    <img src="/img/usuario/{{photoTeacher}}" alt="Foto del Docente">
                    <h1>{{completeNameTeacher}}</h1>
                    <p>{{descriptionTeacher}}</p>
                </div>
                {{/each}}
            </div>
            <div id="temario">
                <h1>Temario Educativo</h1>
                <p>Objetivo: {{objetivoTemario}}</p>
                <div id="moduloTotal">
                    <p>{{moduloCurricular}} Módulos</p>
                    <p>{{clasesTemario}} Clases</p>
                    <p>{{duracionTemario}} Duración Total</p>
                </div>
            </div>
            <div id="cupos">
                <p>{{cuposDisponibles}} Cupos Disponibles</p>
            </div>
            <div id="modalidad">
                <p>Modalidad</p>
                <input type="text" name="modalidad" id="modalidad" value="{{nameClasesClassType}}">
                <div id="presencial">
                    <img src="/img/icons/presencial.png" alt="Icono Presencial">
                    <p>Domicilio <input type="checkbox" name="presencial" id="presencial"></p>
                </div>
                <div id="virtual">
                    <img src="/img/icons/online.png" alt="Icono Virtual">
                    <p>Online <input type="checkbox" name="virtual" id="virtual"></p>
                </div>
            </div>
            <div id="recursos">
                <p>Recursos de la Clase</p>
                {{#each ../recursos}}
                <p>{{nameRecours}}</p>
                {{/each}}
            </div>
            <div id="materiales">
                <p>Materiales de la Clase</p>
                {{#each ../materiales}}
                <p>{{nameMaterial}}</p>
                {{/each}}
            </div>
            <div id="tareas">
                <p>Tareas</p>
                {{#each ../tareas}}
                <a href="/tareas/detailClase/{{idTask}}">
                    <p>{{nameTask}}</p>
                </a>
                {{/each}}
            </div>
            <div id="pruebas">
                <p>Pruebas</p>
                {{#each ../pruebas}}
                <p>{{namePrueba}}</p>
                {{/each}}
            </div>
        </div>
        <div id="fechas">
            <div id="fechaInicio">
                <input type="text" value="{{fechaInicioClase}}" readonly>
            </div>
            <div id="fechaFin">
                <input type="text" value="{{fechaFinClase}}" readonly>
            </div>
            <div id="hora">
                <p>{{horaClase}}</p>
            </div>
            <div id="costo">
                <p>{{costoClase}}</p>
            </div>
        </div>
    </form>
</div>

<div id="menus">
    <div id="recursos">
        <img src="/img/icons/recursosCompleto.png" alt="Icono Recursos">
        <div id="boton">
            <a href="/recursos/clase/{{idClases}}"><button type="button">Recursos</button></a>
        </div>
    </div>
    <div id="materiales">
        <img src="/img/icons/materialesCompletos.png" alt="Icono Materiales">
        <div id="boton">
            <a href="/material/clase/{{idClases}}"><button type="button">Materiales del Estudiante</button></a>
        </div>
    </div>
    <div id="tareas">
        <img src="/img/icons/tareasCompletas.png" alt="Icono Tareas">
        <div id="boton">
            <a href="/tareas/clase/{{idClases}}"><button type="button">Tareas</button></a>
        </div>
    </div>
    <div id="pruebas">
        <img src="/img/icons/pruebas.png" alt="Icono Pruebas">
        <div id="boton">
            <a href="/pruebas/clase/{{idClases}}"><button type="button">Pruebas</button></a>
        </div>
    </div>
    <div id="asistencia">
        <img src="/img/icons/asistencia.png" alt="Icono Asistencia">
        <div id="boton">
            <a href="/asistencia/clase/{{idClases}}"><button type="button">Asistencia</button></a>
        </div>
    </div>
</div>
{{/each}}
<script
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initAutocomplete&libraries=places&v=weekly"
    defer></script>
<script src="/js/mapaDetalleClase.js"></script>
<script src="/js/detalleClase.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var fechaInicioClase = document.getElementById('fechaInicio').value;
        var fechaFinClase = document.getElementById('fechaFin').value;

        var startDateParts = fechaInicioClase.split('/');
        var endDateParts = fechaFinClase.split('/');
        var startDate = new Date(`${startDateParts[2]}-${startDateParts[1]}-${startDateParts[0]}`);
        var endDate = new Date(`${endDateParts[2]}-${endDateParts[1]}-${endDateParts[0]}`);

        function createCalendar() {
            var calendarDiv = document.getElementById('calendar');
            calendarDiv.innerHTML = '';

            var daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
            daysOfWeek.forEach(day => {
                var dayElement = document.createElement('div');
                dayElement.className = 'calendar-day';
                dayElement.textContent = day;
                calendarDiv.appendChild(dayElement);
            });

            var currentDate = new Date(startDate.getFullYear(), startDate.getMonth(), 1);
            var firstDay = currentDate.getDay();

            for (var i = 0; i < firstDay; i++) {
                var emptyElement = document.createElement('div');
                calendarDiv.appendChild(emptyElement);
            }

            while (currentDate.getMonth() === startDate.getMonth()) {
                var dateElement = document.createElement('div');
                dateElement.className = 'calendar-day';
                dateElement.textContent = currentDate.getDate();

                if (currentDate >= startDate && currentDate <= endDate) {
                    dateElement.classList.add('highlight');
                }

                calendarDiv.appendChild(dateElement);
                currentDate.setDate(currentDate.getDate() + 1);
            }
        }

        createCalendar();
    });
</script>