<link rel="stylesheet" href="/css/asistencias/asistencias.css">
<div id="contenedor" class="container">
    <div id="titulo" class="titulo">
        <h1>Asistencia</h1>
    </div>
    {{#each listaCurso}}
    <form action="/asistencia/curso/{{idCours}}" method="post" class="tarjeta tarjetaContenedora">
        {{/each}}
        <div id="tabla" class="scroll alinearCentro anchoForm">
            <table >
                <thead>
                    <tr>
                        <td>N°</td>
                        <td>Estudiantes</td>
                        <td>Lunes</td>
                        <td>Martes</td>
                        <td>Miércoles</td>
                        <td>Jueves</td>
                        <td>Viernes</td>
                        <td>Valor Total</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each estudiantes}}
                    <tr>
                        <td>{{idEstudent}}</td>
                        <td>{{completeNameEstudent}}</td>
                        <!-- Checkbox para los días de la semana -->
                        <td><input type="checkbox" name="attendance[{{idEstudent}}][lunes]" class="attendance-checkbox"
                                data-estudiante="{{idEstudent}}" data-day="lunes"></td>
                        <td><input type="checkbox" name="attendance[{{idEstudent}}][martes]" class="attendance-checkbox"
                                data-estudiante="{{idEstudent}}" data-day="martes"></td>
                        <td><input type="checkbox" name="attendance[{{idEstudent}}][miercoles]"
                                class="attendance-checkbox" data-estudiante="{{idEstudent}}" data-day="miercoles"></td>
                        <td><input type="checkbox" name="attendance[{{idEstudent}}][jueves]" class="attendance-checkbox"
                                data-estudiante="{{idEstudent}}" data-day="jueves"></td>
                        <td><input type="checkbox" name="attendance[{{idEstudent}}][viernes]"
                                class="attendance-checkbox" data-estudiante="{{idEstudent}}" data-day="viernes"></td>
                        <!-- Campo para el valor total -->
                        <td><input type="text" name="attendance[{{idEstudent}}][totalValue]"
                                id="totalValue-{{idEstudent}}" value="0" readonly></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <button type="submit" >Guardar Asistencia</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener todos los checkboxes
        var checkboxes = document.querySelectorAll('.attendance-checkbox');

        // Evento para actualizar el valor total cuando se seleccionan los checkboxes
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var idEstudiante = this.dataset.estudiante;
                var totalInput = document.getElementById(`totalValue-${idEstudiante}`);
                var currentValue = parseInt(totalInput.value, 10) || 0;

                if (this.checked) {
                    currentValue += 20; // Valor añadido por día marcado
                } else {
                    currentValue -= 20; // Valor descontado por día desmarcado
                }

                // Asegurarse de que el valor total no sea negativo
                if (currentValue < 0) {
                    currentValue = 0;
                }

                totalInput.value = currentValue;
            });
        });
    });
</script>