<link rel="stylesheet" href="/css/assessments/add.css">
<form action="/assessments/add/{{idAssessment}}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    
    <div class="contenedor">
        <div id="titulo">
            <p>Agregar Evaluación <input type="text" name="idEvaluaciones" id="idEvaluaciones" value="{{maximo}}" readonly></p>
        </div>
        
        <div id="nombre">
            <p>Nombre de la evaluación:</p>
            <textarea name="nameAssessment" id="nameAssessment" required></textarea>
        </div>
        
        <div id="descripcion">
            <p>Descripción de la Evaluación:</p>
            <textarea name="descriptionAssessment" id="descriptionAssessment" required></textarea>
        </div>
        
        <div id="tiempo">
            <p>Tiempo de evaluación:</p>
            <input type="time" name="timeAssessment" id="timeAssessment" required>
        </div>
        
        <div id="fecha">
            <p>Fecha de evaluación:</p>
            <input type="date" name="dateAssessment" id="dateAssessment" required>
        </div>
        
        <div id="calificacion">
            <p>Calificación:</p>
            <input type="text" name="qualification" id="qualification" required>
        </div>
        
        <div id="clases">
            <p>Clase:</p>
            <select name="ClaseIdClases" id="ClaseIdClases" required>
                {{#each listaClase}}
                    <option value="{{idClases}}">{{nameClases}}</option>
                {{else}}
                    <option value="">No hay clases disponibles</option>
                {{/each}}
            </select>
        </div>

        <div id="cursos">
            <p>Curso:</p>
            <select name="courIdCours" id="courIdCours" required>
                {{#each listaCurso}}
                    <option value="{{idCours}}">{{nameCours}}</option>
                {{else}}
                    <option value="">No hay cursos disponibles</option>
                {{/each}}
            </select>
        </div>

        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>
