<link rel="stylesheet" href="/css/recours/add.css">

{{#each prueba}}
<form action="/pruebas/update/{{idAssessment}}" method="post">
    <div class="bg-fondo pt-3">
        <div class="container">
            <div class="row">
                <h1 class="text-center fw-bold mb-3" style="color: #f39325;">Editar Prueba<input type="text"
                        name="idTask" id="numero"></h1>
                <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
                <div class="card text-start fs-5 shadow border-0 p-0 rounded-5" style="overflow: hidden;">
                    <div class="row g-0">
                        <div class="col-12 col-md-10">
                            <div class="card-body">
                                <div class="col-10 col-md-10 mx-auto my-5">
                                    <div class="row g-5">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Editar Evaluación
                                                </label>
                                                <input type="text" class="form-control" name="idEvaluaciones"
                                                    id="idEvaluaciones" value="{{maximo}}">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Nombre de la evaluación</label>
                                                <textarea rows="3" class="form-control" name="nameAssessment"
                                                    id="nameAssessment" required>{{nameAssessment}}</textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Fecha de evaluación</label>
                                                <input class="form-control" type="date" name="dateAssessment"
                                                    id="dateAssessment" required value="{{dateAssessment}}">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Tiempo de evaluación</label>
                                                <input class="form-control" type="text" name="timeAssessment"
                                                    id="timeAssessment" required value="{{timeAssessment}}">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Descripción de la Evaluación</label>
                                                <textarea rows="3" class="form-control" name="descriptionAssessment"
                                                    id="descriptionAssessment"
                                                    required>{{descriptionAssessment}}</textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Calificación</label>
                                                <input class="form-control" type="text" name="qualificationAssessment"
                                                    id="qualification" required value="{{qualificationAssessment}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-12 col-md-2 bg-success d-flex justify-content-center align-items-center text-white">
                            <button class="btn btn-success w-100 h-100 fs-3 px-0 pt-3 pb-2" type="submit">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
{{/each}}