<link rel="stylesheet" href="">
{{#each listaTeacher}}
<form action="/teacher/eleccion/{{idTeacher}}" method="get"></form>
<div id="contenedor">
    <div id="titulo">
        <h1>¡Bienvenido {{completeNmeTeacher}}!</h1>
        <p>Elige entre servicios que puedes crear o los existentes.
            ¡Tu enseñanza, tu elección!</p>
    </div>
    <div id="imagen1">
        <img src="">
    </div>
    <div id="botonClase">
        <div id="clase">
            <a href=""><button type="button">Clases</button></a>
        </div>
        <div id="encontraras">
            <p>¿Qué encontrarás?</p>
            <div id="boton1">
                <div id="imagenBoton1">
                    <a href=""><img src=""></a>
                    <p>Clases particulares </p>
                </div>
            </div>
            <div id="boton2">
                <div id="imagenBoton2">
                    <a href=""><img src=""></a>
                    <p>Clases grupales</p>
                </div>
            </div>
            <div id="boton3">
                <div id="imagenBoton3">
                    <a href=""><img src=""></a>
                    <p>Coaching individual para docentes.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="botonCuros">
        <div id="curos">
            <a href=""><button type="button">Cursos</button></a>
        </div>
        <div id="encontraras">
            <p>¿Qué encontrarás?</p>
            <div id="boton1">
                <div id="imagenBoton1">
                    <a href=""><img src=""></a>
                    <p>Cursos</p>
                </div>
            </div>
            <div id="boton2">
                <div id="imagenBoton2">
                    <a href=""><img src=""></a>
                    <p>Coaching grupal para docentes</p>
                </div>
            </div>
        </div>
    </div>
    <div id="servicios">
        <p>¡Elige tu mejor modalidad, en línea o a domicilio!</p>
        <div id="imagen2">
            <img src="">
        </div>
        <div id="imagen3">
            <img src="">
        </div>
        <div id="catalogo">
            <h1>Catálogo de servicios existentes</h1>
            <p>¿Te gustaría impartir alguno de los servicios creados por el equipo de ProfeGo? Explora y selecciona los
                mejores programas para ti o crea los tuyos propios.</p>
        </div>
    </div>
    <div id="curso">
        {{#each ../listaCursos}}
        <div id="imagenCursoClase">
            <img src="">
        </div>
        <div id="datos">
            <div id="nombreCurso">
                <p>{{nameCours}}</p>
            </div>
            <div id="ubicacion">
                <div id="imagenUbicacion">
                    <div id="mapa"></div>
                    <input type="text" name="cordenadas" id="ubicacion" value="{{ubicacionCurso}}">
                </div>
            </div>
            <div id="modalidad">
                <div id="imagenModalidad">
                    <img src="">
                </div>
                <p>{{nameCoursClassType}}</p>
            </div>
            <div id="costo">
                <div id="imagenCosto">
                    <img src="">
                </div>
                <p>{{costCours}}</p>
            </div>
            <div id="necesidadesEducativas">
                <div id="imagenNececidades">
                    <img src="">
                </div>
                <p>{{neeCours}}</p>
            </div>
            <div id="descripcion">
                <h1>Descripción:</h1>
                <p>{{descriptionCours}}</p>
            </div>
            <div id="detalle">
                <a href=""><button type="button">Ver detalle</button></a>
            </div>
            <div id="impartir">
                <a href=""><button type="button">Impartir</button></a>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="clase">
        {{#each ../listaClases}}
        <div id="imagenCursoClase">
            <img src="">
        </div>
        <div id="datos">
            <div id="nombreCurso">
                <p>{{nameClases}}</p>
            </div>
            <div id="ubicacion">
                <div id="imagenUbicacion">
                    <div id="mapa"></div>
                    <input type="text" name="cordenadas" id="ubicacion" value="{{ubicacionClase}}">
                </div>
            </div>
            <div id="modalidad">
                <div id="imagenModalidad">
                    <img src="">
                </div>
                <p>{{nameCoursClassType}}</p>
            </div>
            <div id="necesidadesEducativas">
                <div id="imagenNececidades">
                    <img src="">
                </div>
                <p>{{neeClass}}</p>
            </div>
            <div id="costo">
                <div id="imagenCosto">
                    <img src="">
                </div>
                <p>{{costClases}}</p>
            </div>
            <div id="descripcion">
                <h1>Descripción:</h1>
                <p>{{descriptionClases}}</p>
            </div>
            <div id="detalle">
                <a href=""><button type="button">Ver detalle</button></a>
            </div>
            <div id="impartir">
                <a href=""><button type="button">Impartir</button></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}