<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/css/navegacion.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo/Variantelogoprofego.png" alt="Logo" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <!-- Dropdown Nosotros -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nosotrosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Nosotros</a>
                    <ul class="dropdown-menu p-0 m-0 custom-dropdown-menu">
                        <li>
                            <div
                                class="d-flex flex-column flex-md-row justify-content-center align-items-center col8 rounded-2 p-0">
                                <div class="col-12 col-md-7 text-start pt-4 px-4 col4">
                                    <img src="/img/icons/imagenNosotros.png" class="img-fluid" id="Nosotros"
                                        alt="Nosotros">
                                    <h5 class="h5-text pt-2">Nosotros</h5>
                                    <p>Descubre quiénes somos, por qué elegirnos y cuáles son nuestros estándares de
                                        calidad en la educación.</p>
                                </div>
                                <div class="col-12 col-md-5 mb-auto">
                                    <div class="d-flex flex-wrap justify-content-center p-2">
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="/somos"
                                                class="dropdown-item dropdownItem rounded-2 animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img src="/img/icons/somos.png"
                                                        class="img-fluid imgNav me-2" alt="Somos"><span
                                                        class="text-wrap my-auto">¿Quiénes somos?</span></h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="/funciona"
                                                class="dropdown-item dropdownItem rounded-2 animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img src="/img/icons/funciona.png"
                                                        class="img-fluid imgNav me-2" alt="Funciona"><span
                                                        class="text-wrap my-auto">¿Cómo funciona?</span></h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="/seguridad"
                                                class="dropdown-item dropdownItem rounded-2 animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img src="/img/icons/seguridad.png"
                                                        class="img-fluid imgNav me-2" alt="Seguridad"><span
                                                        class="text-wrap my-auto">Nuestra seguridad</span></h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="/"
                                                class="dropdown-item dropdownItem rounded-2 animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img
                                                        src="/img/icons/testimonio.png" class="img-fluid imgNav me-2"
                                                        alt="Testimonios"><span
                                                        class="text-wrap my-auto">Testimonios</span>
                                                </h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown Servicios -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="serviciosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
                    <ul class="dropdown-menu p-0 m-0 custom-dropdown-menu">
                        <li>
                            <div
                                class="d-flex flex-column flex-md-row justify-content-center align-items-center col8 rounded-2 p-0">
                                <div class="col-12 col-md-7 text-start pt-4 px-4 col4">
                                    <img src="/img/icons/imagenServicios.png" id="Nosotros" class="img-fluid"
                                        alt="Servicios">
                                    <h5 class="h5-text pt-2">Servicios</h5>
                                    <p>Explora nuestros servicios, desde clases grupales y particulares hasta cursos y
                                        coaching para docentes.</p>
                                </div>
                                <div class="col-12 col-md-5 mb-auto">
                                    <div class="d-flex flex-wrap justify-content-center p-2">
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="/general/listClase"
                                                class="dropdown-item dropdownItem animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img src="/img/icons/clases.png"
                                                        class="img-fluid imgNav me-2" alt="Clases"><span
                                                        class="text-wrap my-auto">Clases particulares</span></h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="/general/listClase"
                                                class="dropdown-item dropdownItem animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img src="/img/icons/grupales.png"
                                                        class="img-fluid imgNav me-2" alt="Grupales"><span
                                                        class="text-wrap my-auto">Clases grupales</span></h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="/general/listCurso"
                                                class="dropdown-item dropdownItem animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img src="/img/icons/Cursos.png"
                                                        class="img-fluid imgNav me-2" alt="Cursos"><span
                                                        class="text-wrap my-auto">Cursos</span></h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="/general/listCurso"
                                                class="dropdown-item dropdownItem animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img src="/img/icons/Couching.png"
                                                        class="img-fluid imgNav me-2" alt="Coaching"><span
                                                        class="text-wrap my-auto">Coaching para docentes</span>
                                                </h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown Centro de Ayuda -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ayudaDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Centro de Ayuda</a>
                    <ul class="dropdown-menu p-0 m-0 custom-dropdown-menu">
                        <li>
                            <div
                                class="d-flex flex-column flex-md-row justify-content-center align-items-center col8 rounded-2 p-0">
                                <div class="col-12 col-md-7 text-start pt-4 px-4 col4">
                                    <img src="/img/icons/centroAyuda.png" id="Nosotros" class="img-fluid"
                                        alt="Centro de Ayuda">
                                    <h5 class="h5-text pt-2">Centro de Ayuda</h5>
                                    <p>Encuentra respuestas a tus dudas y ponte en comunicación con nosotros para más
                                        información.</p>
                                </div>
                                <div class="col-12 col-md-5 mb-auto">
                                    <div class="d-flex flex-wrap justify-content-center p-2">
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="/contactos"
                                                class="dropdown-item dropdownItem animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img src="/img/icons/contactos.png"
                                                        class="img-fluid imgNav me-2" alt="Contactos"><span
                                                        class="text-wrap my-auto">Contactos</span></h6>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col6 mb-1 shadow rounded-2 border border-secondary-subtle">
                                            <a href="#"
                                                class="dropdown-item dropdownItem animate__animated animate__fadeIn">
                                                <h6 class="d-flex align-items-start"><img
                                                        src="/img/icons/frecuentes.png" class="img-fluid imgNav me-2"
                                                        alt="Preguntas"><span class="text-wrap my-auto">Preguntas
                                                        frecuentes</span></h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                {{#if user}}
                <!-- Menú de perfil del usuario -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="me-2 d-none d-sm-inline">{{descifrar user.completeNmeTeacher}}</span>
                        <div class="profile-image-nav">
                            {{#if user.photoTeacher}}
                            <img src="/img/user/{{user.photoTeacher}}" alt="Foto de perfil" class="rounded-circle">
                            {{else}}
                            <div class="profile-initials">{{getInitials user.completeNmeTeacher}}</div>
                            {{/if}}
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end p-0 m-0 custom-dropdown-menu-user">
                        <li>
                            <div class="d-flex flex-column rounded-2 p-0">
                                <div class="profile-dropdown-header p-3 text-left">
                                    <div class="profile-image-nav-large mb-2 mx-auto">
                                        {{#if user.photoTeacher}}
                                        <img src="/img/user/{{user.photoTeacher}}" alt="Foto de perfil" class="rounded-circle">
                                        {{else}}
                                        <div class="profile-initials-large">{{getInitials user.completeNmeTeacher}}</div>
                                        {{/if}}
                                    </div>
                                    <h6 class="mb-0">{{descifrar user.completeNmeTeacher}}</h6>
                                    <small class="text-muted">{{descifrar user.emailTeacher}}</small>
                                    <h6 class="mb-0">Docente</h6>
                                </div>
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item" href="/teacher/lista/{{user.idTeacher}}">
                                    <i class="fas fa-user me-2"></i> Mi perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cog me-2"></i> Configuración
                                </a>
                                {{#if user.rolTeacher}}
                                <a class="dropdown-item" href="/eleccion">
                                    <i class="fas fa-chalkboard-teacher me-2"></i> Mis servicios
                                </a>
                                {{/if}}
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item" href="/closeSection">
                                    <i class="fas fa-sign-out-alt me-2"></i> Cerrar sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                {{else}}
                <!-- Estudiante -->
                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center" href="#" id="estudianteDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Estudiante<span class="ms-1 fw-bold fs-3 color-icon">&#8801;</span>
                    </a>
                    <ul class="dropdown-menu p-0 m-0 custom-dropdown-menu-user-coach">
                        <li>
                            <div
                                class="d-flex flex-column flex-md-row justify-content-center align-items-center col8 rounded-2 p-0">
                                <div class="col">
                                    <div class="d-flex flex-column justify-content-center p-2">
                                        <a class="mb-3 " href="/loginStudents">
                                            <button type="button" class="btn btn-custom-orange btn-lg w-100">Iniciar
                                                sesión</button>
                                        </a>

                                        <a class="mb-1 " href="/RegisterStudents">
                                            <button type="button"
                                                class="btn btn-custom-blue btn-lg w-100">Registro</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- Docente/Coach -->
                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center" href="#" id="docenteDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Docente/Coach<span class="ms-1 fw-bold fs-3 color-icon">&#8801;</span>
                    </a>
                    <ul class="dropdown-menu p-0 m-0 custom-dropdown-menu-user-coach">
                        <li>
                            <div
                                class="d-flex flex-column flex-md-row justify-content-center align-items-center col8 rounded-2 p-0">
                                <div class="col">
                                    <div class="d-flex flex-column justify-content-center p-2">
                                        <a class="mb-3 " href="/loginTeachers">
                                            <button type="button" class="btn btn-custom-orange btn-lg w-100">Iniciar
                                                sesión</button>
                                        </a>

                                        <a class="mb-1 " href="/RegisterTeachers">
                                            <button type="button"
                                                class="btn btn-custom-blue btn-lg w-100">Registro</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>