<link rel="stylesheet" href="/css/navegacion.css">
<nav id="nav">
    {{#if user}}
    <div id="eleccionCursoCLases">
        {{#each listaTeacher}}
        <a href="/teacher/eleccion/{{idTeacher}}"><button type="button">Eleccion Servicios</button></a>
        {{/each}}
        {{#each listaEstudents}}
        <a href="/teacher/eleccion/{{idEstudent}}"><button type="button">Eleccion Servicios</button></a>
        {{/each}}
    </div>
    {{else}}
    <div id="estudiantes">
        <div id="estudiante">
            <button type="button">Estudiante</button>
        </div>
        <div id="bajares">
            <button type="button" id="bajar3"><img src="/img/icons/estudiantes.png"></button>
        </div>
    </div>
    <div id="docentes">
        <div id="couch">
            <button type="button">Docente/Coach</button>
        </div>
        <div id="bajardocen">
            <button type="button" id="bajar4"><img src="/img/icons/estudiantes.png"></button>
        </div>
    </div>
    {{/if}}
    <div id="logo">
        {{#each listaPagina}}
        <a href="/"><img src="/img/logo/{{photoPage}}"></a>
        {{else}}
        <a href="/"><img src="/img/logo/Variantelogoprofego.png"></a>
        {{/each}}
    </div>
    <div id="nosotros">
        <div id="nosots">
            <p>Nosotros</p>
        </div>
        <div id="bajar">
            <button type="button" id="bajar0"><img src="/img/icons/baja.png"></button>
        </div>
    </div>
    <div id="servicios">
        <div id="servisiosTitulo">
            <p>Servicios</p>
        </div>
        <div id="bajar">
            <button type="button" id="bajar1"><img src="/img/icons/baja.png"></button>
        </div>
    </div>
    <div id="contactos">
        <div id="contactosTitulo">
            <p>Contactos</p>
        </div>
        <div id="bajar">
            <button type="button" id="bajar2"><img src="/img/icons/baja.png"></button>
        </div>
    </div>
</nav>
<div id="subNav4">
    <div id="login">
        <a href="/loginStudents">Iniciar sesión</a>
    </div>
    <div id="registro">
        <a href="/RegisterStudents">Registro</a>
    </div>
</div>
<div id="subNav5">
    <div id="login">
        <a href="/loginTeachers">Iniciar sesión</a>
    </div>
    <div id="registro">
        <a href="/RegisterTeachers">Registro</a>
    </div>
</div>

<div id="subNav3">
    <div id="contenedorImagenInformacion">
        <div id="contenedorImagen">
            <div id="imagen">
                <img src="/img/icons/centroAyuda.png">
            </div>
            <div id="nosotros1">
                <h1>Centro de ayuda</h1>
                <p>Encuentra respuestas a tus dudas y ponte en comunicación con nosotros para más información.</p>
            </div>
        </div>
        <div id="contenedorInformacion1">
            <div id="somos">
                <div id="somosImagen">
                    <img src="/img/icons/contactos.png">
                </div>
                <div id="informacion">
                    <a href="/contactos">
                        <h1>Contactos</h1>
                    </a>
                </div>
            </div>
            <div id="funciona">
                <div id="imagenFunciona">
                    <img src="/img/icons/frecuentes.png">
                </div>
                <div id="informacion1">
                    <h1>Preguntas frecuentes</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="subNav2">
    <div id="contenedorImagenInformacion">
        <div id="contenedorImagen">
            <div id="imagen">
                <img src="/img/icons/imagenServicios.png">
            </div>
            <div id="nosotros1">
                <h1>Servicios</h1>
                <p>Explora nuestros servicios, desde clases grupales y particulares hasta cursos, coaching para docentes
                    y mucho más.</p>
            </div>
        </div>
        <div id="contenedorInformacion1">
            <div id="somos">
                <div id="somosImagen">
                    <img src="/img/icons/clases.png">
                </div>
                <div id="informacion">
                    <a href="/general/listClase">
                        <h1>Clases particulares</h1>
                    </a>
                </div>
            </div>
            <div id="funciona">
                <div id="imagenFunciona">
                    <img src="/img/icons/grupales.png">
                </div>
                <div id="informacion1">
                    <a href="/general/listClase">
                        <h1>Clases grupales</h1>
                    </a>
                </div>
            </div>
            <div id="seguridad">
                <div id="imagenSeguridad">
                    <img src="/img/icons/Cursos.png">
                </div>
                <div id="informacion2">
                    <a href="/general/listCurso">
                        <h1>Cursos</h1>
                    </a>
                </div>
            </div>
            <div id="testimonio">
                <div id="imagentestiminio">
                    <img src="/img/icons/Couching.png">
                </div>
                <div id="informacion3">
                    <a href="/general/listCurso">
                        <h1>Coaching para docentes</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="subNav1">
    <div id="contenedorImagenInformacion">
        <div id="contenedorImagen">
            <div id="imagen">
                <img src="/img/icons/imagenNosotros.png">
            </div>
            <div id="nosotros1">
                <h1>Nosotros</h1>
                <p>Descubre quiénes somos,
                    por qué elegirnos y cuáles son nuestros estándares de calidad en la educación.</p>
            </div>
        </div>
        <div id="contenedorInformacion1">
            <div id="somos">
                <div id="somosImagen">
                    <img src="/img/icons/somos.png">
                </div>
                <div id="informacion">
                    <a href="/somos" style="text-decoration: none; color:black">
                        <h1>¿Quiénes somos?</h1>
                    </a>
                </div>
            </div>
            <div id="funciona">
                <div id="imagenFunciona">
                    <img src="/img/icons/funciona.png">
                </div>
                <div id="informacion1">
                    <a href="/funciona" style="text-decoration: none; color:black">
                        <h1>¿Cómo funciona?</h1>
                    </a>
                </div>
            </div>
            <div id="seguridad">
                <div id="imagenSeguridad">
                    <img src="/img/icons/seguridad.png">
                </div>
                <div id="informacion2">
                    <a href="/seguridad" style="text-decoration: none; color:black">
                        <h1>Nuestra seguridad</h1>
                    </a>
                </div>
            </div>
            <div id="testimonio">
                <div id="imagentestiminio">
                    <img src="/img/icons/testimonio.png">
                </div>
                <div id="informacion3">
                    <a href="/" style="text-decoration: none; color:black">
                        <h1>Testimonios</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/navegacion.js"></script>