<link rel="stylesheet" href="/css/clases/detalle.css">
<div id="contenedor">
    <div id="fondo">
        <img src="/img/fondo/fondo1.png">
    </div>
    {{#each lista}}
    <form action="/clases/detailList/{{idClases}}" method="get"> </form>
    <div id="datosCurso">
        <div id="fondoVerde">
            <div id="foto">
                <img src="/img/clases/{{photoClases}}" alt="Foto de la Clase">
            </div>
            <div id="Nombre">
                <h1>{{nameClases}}</h1>
            </div>
            <div id="tipoDeClase">
                <p>{{nameClasesClassType}}</p>
            </div>
            <div id="direccion">
                <div id="map"></div>
                <input type="text" name="ubicacion" id="ubicacion" value="{{ubicacionClase}}">
            </div>
            {{#if neeClases}}
            <input type="checkbox" name="adaptacion" id="adaptacion" value="{{neeClases}}">
            {{/if}}
        </div>
        <div id="video">
            <video src="/video/clases/{{videoClases}}" controls></video>
        </div>
        <div id="cuadros2">
            <div id="descripcion1">
                <h1>Descripción</h1>
                <p>{{descriptionClases}}</p>
            </div>
            <div id="contenedordocentess">
                <h1>Docentes</h1>
                <div id="fotoDocente">
                    {{#each ../docenteLista}}
                    <div id="docentess">
                        <img src="/img/usuario/{{photoTeacher}}">
                        <div id="DataDocente">
                            <h1>{{completeNmeTeacher}}</h1>
                            <p>{{descriptionTeacher}}</p>
                        </div>
                    </div>
                    {{/each}}
                    <img src="/img/icons/aprobado.png" id="aprobadoss">
                </div>
            </div>
            {{#each ../temario}}
            <div id="temario">
                <div id="tituloTemario">
                    <h1>Temario educativo</h1>
                    <p>Objetivo: {{objetivesyllabusEducational}}</p>
                    <div id="moduloTotal">
                        <p>{{moduleCurrucularContentCourse}} Módulos</p>
                        |
                        <p>{{themesyllabusEducational}}Clases</p>
                        |
                        <p>{{timesyllabusEducational}} Duración total</p>

                    </div>
                </div>
            </div>
            {{/each}}
            {{!--
            <div id="cupos">
                <p>{{cuposDisponibles}} Cupos Disponibles</p>
            </div>
            --}}
           <div id="Modalidad">
                <p>Modalidad</p>
                <input type="text" name="modalidad" id="modalidad" value="{{nameCoursClassType}}">
                <div id="presencial">
                    <div id="imagenPresencial">
                        <img src="/img/icons/presencial.png">
                    </div>
                    <p>Domicilio <input type="checkbox" name="" id="Presencial"></p>
                </div>
                <div id="Virtual">
                    <div id="imagenVirtual">
                        <img src="/img/icons/online.png">
                    </div>
                    <p>Online<input type="checkbox" name="" id="virtual"></p>
                </div>
            </div>
            <div id="recursosParaClase">
                <div id="recursoss">
                    <p>Recursos de la Clase</p>
                    <div id="imagenRecurso">
                        <img src="/img/icons/Recursos.png">
                    </div>
                    <div id="listaRecursoss">
                        {{#each ../recursos}}
                        <p>{{nameRecours}}</p>
                        {{/each}}
                    </div>
                </div>
                <div id="Materiales">
                    <p>Materiales de la Clase</p>
                    <div id="imagenRecurso">
                        <img src="/img/icons/materiales.png">
                    </div>
                    <div id="materialesCurso">
                        {{#each ../materiales}}
                        <p>{{nameMaterial}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div id="tareasss">
                <p>Tareas</p>
                <div id="imagenRecurso">
                    <img src="/img/icons/materiales.png">
                </div>
                <div id="materialesCurso">
                    {{#each ../tareas}}
                    <a href="/tareas/detailClase/{{idTask}}">
                        <p>{{nameTask}}</p>
                    </a>
                    {{/each}}
                </div>
            </div>
            <div id="Pruebass">
                <p>Pruebas</p>
                <div id="imagenPruebass">
                    <img src="/img/icons/pruebas.png">
                </div>
                <div id="pruebasCursos">
                    {{#each ../pruebas}}
                    <p>{{namePrueba}}</p>
                    {{/each}}
                </div>
            </div>
        </div>
        <div id="totaldatos">
            <div id="fehcaInit">
                <input type="text" id="fechaInicio" value="{{fechaInicioClase}}" readonly>
            </div>
            <div id="fehcaFin">
                <input type="text" id="fechaFin" value="{{fechaFinClase}}" readonly>
            </div>
            <div id="hora">
                <p>{{horaClase}}</p>
            </div>
            <div id="costo">
                <p>{{costoClase}}</p>
            </div>
        </div>
    </div>

    <div id="menus">
        <div id="recursos">
            <div id="imagenRecursos">
                <img src="/img/icons/recursosCompleto.png">
            </div>
            <div id="boton">
                <a href="/recursos/clase/{{idClases}}"><button type="button">Recursos</button></a>
            </div>
        </div>
        <div id="materiales">
            <div id="imagenMateriales">
                <img src="/img/icons/materialesCompletos.png">
            </div>
            <div id="boton">
                <a href="/material/clase/{{idClases}}"><button type="button">Materiales del Estudiante</button></a>
            </div>
        </div>
        <div id="tareas">
            <div id="imagenTareas">
                <img src="/img/icons/TareasCompletas.png">
            </div>
            <div id="boton">
                <a href="/tareas/clase/{{idClases}}"><button type="button">Tareas</button></a>
            </div>
        </div>
        <div id="pruebas">
            <div id="imagenPruebas">
                <img src="/img/icons/pruebas.png">
            </div>
            <div id="boton">
                <a href="/pruebas/clase/{{idClases}}"><button type="button">Pruebas</button></a>
            </div>
        </div>
        <div id="asistencia">
            <div id="imagenAsistencia">
                <img src="/img/icons/asistencia.png">
            </div>
            <div id="boton">
                <a href="/asistencia/clase/{{idClases}}"><button type="button">Asistencia</button></a>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="calendarios">
        <div id="disponibilidad">
            <div id="verde">
                <h1></h1>
                <p>Libre</p>
            </div>
            <div id="naranja">
                <h1></h1>
                <p>Ocupado</p>
            </div>
            <div id="rojo">
                <h1></h1>
                <p>No disponible</p>
            </div>
        </div>
        <div id="calendar"></div>
    </div>
    <div id="contenedorBotonPanico">
        <button type="button"></button>
    </div>
</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initAutocomplete&libraries=places&v=weekly"
    defer></script>
<script src="/js/mapaDetalleClase.js"></script>
<script src="/js/detalleCurso.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var fechaInicioClase = document.getElementById('fechaInicio').value;
        var fechaFinClase = document.getElementById('fechaFin').value;

        var startDateParts = fechaInicioClase.split('/');
        var endDateParts = fechaFinClase.split('/');
        var startDate = new Date(`${startDateParts[2]}-${startDateParts[1]}-${startDateParts[0]}`);
        var endDate = new Date(`${endDateParts[2]}-${endDateParts[1]}-${endDateParts[0]}`);

        function createCalendar() {
            var calendarDiv = document.getElementById('calendar');
            calendarDiv.innerHTML = '';

            var daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
            daysOfWeek.forEach(day => {
                var dayElement = document.createElement('div');
                dayElement.className = 'calendar-day';
                dayElement.textContent = day;
                calendarDiv.appendChild(dayElement);
            });

            var currentDate = new Date(startDate.getFullYear(), startDate.getMonth(), 1);
            var firstDay = currentDate.getDay();

            for (var i = 0; i < firstDay; i++) {
                var emptyElement = document.createElement('div');
                calendarDiv.appendChild(emptyElement);
            }

            while (currentDate.getMonth() === startDate.getMonth()) {
                var dateElement = document.createElement('div');
                dateElement.className = 'calendar-day';
                dateElement.textContent = currentDate.getDate();

                if (currentDate >= startDate && currentDate <= endDate) {
                    dateElement.classList.add('highlight');
                }

                calendarDiv.appendChild(dateElement);
                currentDate.setDate(currentDate.getDate() + 1);
            }
        }

        createCalendar();
    });
</script>