<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/css/teacher/lista.css">

<div class="teacher-profile-container">
    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{#each listaTeacher}}
                    <div class="profile-card">
                        <!-- Sección superior con foto y datos básicos -->
                        <div class="profile-top-section">
                            <div class="profile-image-container">
                                <img src="/img/user/{{photoTeacher}}" alt="Foto de perfil" class="profile-image">
                                <div
                                    class="profile-status-badge {{#ifCond stateTeacher '==' 'Activo'}}active{{else}}inactive{{/ifCond}}">
                                    {{stateTeacher}}
                                </div>
                            </div>

                            <div class="profile-basic-info">
                                <h1 class="profile-name">{{completeNmeTeacher}}</h1>
                                <div class="profile-meta">
                                    <span><i class="fas fa-id-card"></i> {{identificationCardTeacher}}</span>
                                    <span><i class="fas fa-birthday-cake"></i> {{ageTeacher}}</span>
                                    <span><i class="fas fa-phone"></i> {{phoneTeacher}}</span>
                                    <span><i class="fas fa-envelope"></i> {{emailTeacher}}</span>
                                </div>

                                <div class="profile-description">
                                    <p>{{descriptionTeacher}}</p>
                                </div>

                                <a href="/teacher/update/{{idTeacher}}" class="btn btn-update-profile">
                                    <i class="fas fa-user-edit"></i> Actualizar Perfil
                                </a>
                            </div>
                        </div>

                        <!-- Sección de contenido organizado en pestañas -->
                        <div class="profile-content-tabs">
                            <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="specialties-tab" data-bs-toggle="tab"
                                        data-bs-target="#specialties" type="button" role="tab">Especialidades</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="subjects-tab" data-bs-toggle="tab"
                                        data-bs-target="#subjects" type="button" role="tab">Materias</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="subjects-tab" data-bs-toggle="tab"
                                        data-bs-target="#ages" type="button" role="tab">Edades</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="location-tab" data-bs-toggle="tab"
                                        data-bs-target="#location" type="button" role="tab">Ubicación</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="documents-tab" data-bs-toggle="tab"
                                        data-bs-target="#documents" type="button" role="tab">Documentos</button>
                                </li>
                            </ul>

                            <div class="tab-content" id="profileTabsContent">
                                <!-- Pestaña de Especialidades -->
                                <div class="tab-pane fade show active" id="specialties" role="tabpanel">
                                    <div class="skills-container">
                                        {{#each ../listaChouch}}
                                        <div class="skill-badge">
                                            <i class="fas fa-certificate"></i> {{stateTeachCouch}}
                                        </div>
                                        {{/each}}

                                        {{#each ../listaMaterias}}
                                        <div class="skill-badge">
                                            <i class="fas fa-graduation-cap"></i> {{nameSpecialType}}
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>

                                <!-- Pestaña de Materias -->
                                <div class="tab-pane fade" id="subjects" role="tabpanel">
                                    <div class="subjects-container">
                                        {{#each ../listaDetalle}}
                                        <div class="subject-card">
                                            <div class="subject-info">
                                                <h4>{{subjetTeacher}}</h4>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>

                                <!-- Pestaña de Edades -->
                                <div class="tab-pane fade" id="ages" role="tabpanel">
                                    <div class="subjects-container">
                                        {{#each ../listaDetalle}}
                                        <div class="subject-card">
                                            <div class="subject-info">
                                                <h4>Edad: {{rangeAgeTeacher}}</h4>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>

                                <!-- Pestaña de Ubicación -->
                                <div class="tab-pane fade" id="location" role="tabpanel">
                                    <div class="location-container">
                                        <div id="map"></div>
                                        <div class="address-info">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <input type="text" name="addressTeacher" id="ubicacion"
                                                value="{{addressTeacher}}" readonly>
                                        </div>
                                    </div>
                                </div>

                                <!-- Pestaña de Documentos -->
                                <div class="tab-pane fade" id="documents" role="tabpanel">
                                    <div class="documents-container">
                                        <div class="document-card">
                                            <h5><i class="fas fa-file-certificate"></i> Certificado de Endoso</h5>
                                            <iframe src="/archivos/teacher/{{endorsementCertificateTeacher}}"></iframe>
                                        </div>

                                        <div class="document-card">
                                            <h5><i class="fas fa-id-card"></i> Página Vital</h5>
                                            <iframe src="/archivos/teacher/{{pageVitalTeacher}}"></iframe>
                                        </div>

                                        <div class="document-card">
                                            <h5><i class="fas fa-file-contract"></i> Antecedentes Penales</h5>
                                            <iframe src="/archivos/teacher/{{criminalRecordTeacher}}"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="p-5" style="background-color: #fff9f0;">
        <div class="row">
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Nosotros</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/somos">
                        <p>¿Quiénes Somos?
                    </a>
                    <a href="/funciona">¿Cómo funciona?</a><br>
                    <br>
                    <a href="/">Testimonios</a><br>
                    <br>
                    <a href="/contactos#preguntas-frecuentes">Preguntas frecuentes</a><br>
                    <br>
                    <a href="/contactos">Contacto</a></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Únete</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/RegisterStudents">
                        <p>Regístrate como estudiante
                    </a>
                    <a href="/RegisterTeachers">Sé docente o coach</a>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Legal</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/policyList">
                        <p>Términos y condiciones
                    </a>
                    <a href="/policyList">Políticas de privacidad</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
            </div>
            <div class="col-md-3">
                <img src="/img/logo/LogoPrincipal.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div style="background-color: #fbf1e3; color: #236388;" class="p-3">
        <div class="d-flex justify-content-between align-items-center mx-3">
            <p class="fs-5 m-0 text-start">Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
            <p class="fs-5 m-0 text-end">ProfeGo® EDUCONECTA S.A.S</p>
        </div>
    </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Q9PaOYlXpeqtj_0tHE19Zcoim25iSFg&callback=initAutocomplete&libraries=places&v=weekly"
    defer>
    </script>
<script src="/js/mapaDetalle.js"></script>