<link rel="stylesheet" href="/css/teacher/update.css">
<div id="contenidoPefil">
    <div id="fondo">
        <img src="/img/fondo/Postulación.png">
    </div>

    <div id="titulos"> <br><br>
        <h1>Postulación como docente o coach</h1>
        <p>Completa y envía el siguiente formulario para la aprobación de tu postulación.</p>
    </div>
    <div id="datos">
        {{#each listaTeacher}}
        <form action="/teacher/update/{{idTeacher}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
            {{#each ../listaPagina}}
            <input type="text" name="idPagina" id="idPagina" value="{{idPage}}">
            {{/each}}
            <div id="imagenTeacher">
                <div id="cambioImagen">
                    {{#if photoTeacher}}
                    <img src="/img/user/{{photoTeacher}}" id="imagenPrevisualizacion" />
                    {{else}}
                    <img src="/img/icons/sinImagenTeacher.png" id="imagenPrevisualizacion" />
                    {{/if}}
                </div>
                <input type="file" name="photoTeacher" class="seleccionArchivos" accept="image/*" id="seleccionArchivos"
                    style="display: none;" />
                <button type="button" id="botonImagen"><img src="/img/icons/nuevo23.png"></button>
            </div>
            <div id="nombreCompleto">
                <p>Nombre completo:</p>
                <input type="text" name="completeNmeTeacher" id="nombre" value="{{completeNmeTeacher}}" required>
            </div>
            <div id="direccion">
                <div id="map"></div>
                <input id="pac-input" class="controls" type="text" placeholder="Buscar" />
                <input type="text" name="ubicacion" id="ubicacion">
            </div>
            <div id="Eleccion">
                <p>Tipo de usuario</p>
                <select name="eleccion" id="eleccion">
                    <option value="Docente">Docente</option>
                    <option value="Coach">Coach</option>
                    <option value="Docente y coach">Docente y coach</option>
                </select>
            </div>
            <div id="fechaNacimiento">
                <p>Fecha de nacimiento:</p>
                <input type="text" name="ageTeacher" id="edad" value="{{ageTeacher}}" required>
            </div>
            <div id="tituloEspecialidad">
                <p>Nombre del título o especialidad</p>
                <select name="titulosEleccion" id="titulosEleccion">
                    {{#each ../listaTitulos}}
                    <option value="{{idSpecialType}}">{{nameSpecialType}}</option>
                    {{/each}}
                    <option value="titulo">otros</option>
                </select>
                <div id="titulos"></div>
            </div>

            <div id="capacidad">
                <input type="checkbox" name="" id="si"><br><br>
                <p>Estoy capacitado para trabajar con estudiantes que tienen Necesidades Educativas Especiales</p>
                <div id="espesialidades">
                    <select name="specialtyTypeIdSpecialType" id="especial">
                        {{#each ../listaEspecialidades}}
                        <option value="{{idSpecialType}}">{{nameSpecialType}}</option>
                        {{/each}}
                        <option value="especial">otros</option>
                    </select>
                    <div id="especialidad"></div>
                </div>
            </div>
            <div id="documentacion">
                <h1>Documentación requerida</h1>
                <div id="DocumentoTitulo">
                    <p>Título profesional y/o certificados de aval de enseñanza</p>
                    <input type="file" name="endorsementCertificateTeacher" class="seleccionArchivos"
                        accept="application/pdf" id="seleccionTitulo" />
                    <button type="button" class="botonImagen" data-input-id="seleccionTitulo"><img
                            src="/img/icons/Subir.png"></button>
                    {{#if endorsementCertificateTeacher}}
                    <iframe id="documentoTituloPrevisualizacion"
                        src="/archivos/teacher/{{endorsementCertificateTeacher}}"></iframe>
                    {{else}}
                    <iframe id="documentoTituloPrevisualizacion" src=""></iframe>
                    {{/if}}
                </div>
                <div id="DocumentoHojaVida">
                    <p>Hoja de vida actualizada</p>
                    <input type="file" name="pageVitalTeacher" class="seleccionArchivos" accept="application/pdf"
                        id="seleccionHojaVida" />
                    <button type="button" class="botonImagen" data-input-id="seleccionHojaVida"><img
                            src="/img/icons/Subir.png"></button>
                    {{#if pageVitalTeacher}}
                    <iframe id="documentoHojaVidaPrevisualizacion"
                        src="/archivos/teacher/{{pageVitalTeacher}}"></iframe>
                    {{else}}
                    <iframe id="documentoHojaVidaPrevisualizacion" src=""></iframe>
                    {{/if}}
                </div>
                <div id="DocumentoAntecedentes">
                    <p>Certificado de Antecedentes Penales</p>
                    <input type="file" name="criminalRecordTeacher" class="seleccionArchivos" accept="application/pdf"
                        id="seleccionAntecedentes" />
                    <button type="button" class="botonImagen" data-input-id="seleccionAntecedentes"><img
                            src="/img/icons/Subir.png"></button>
                    {{#if criminalRecordTeacher}}
                    <iframe id="documentoAntecedentesPrevisualizacion"
                        src="/archivos/teacher/{{criminalRecordTeacher}}"></iframe>
                    {{else}}
                    <iframe id="documentoAntecedentesPrevisualizacion" src=""></iframe>
                    {{/if}}
                </div>
                <p id="pdf">Sube tus archivos en formato .pdf (Recomendado)</p>
            </div>
            <div id="materias">
                <p>Áreas/ asignaturas a enseñar</p>
                <div id="meterias">
                    <select name="subjetTeacher" id="materiasEleccion">
                        {{#each ../listaMaterias}}
                        <option value="{{nambeSubjects}}">{{nambeSubjects}}</option>
                        {{/each}}
                        <option value="materias">otros</option>
                    </select>
                    <div id="meteriasTotal"></div>
                </div>
            </div>
            <div id="edadRange" >
                <p >Rango de edad de enseñanza</p>
                <div id="Edad">
                    <select name="rangeAgeTeacher" id="edadRango">
                        <option value="3-5 años">3-5 años</option>
                        <option value="5-7 años">5-7 años</option>
                        <option value="7-9 años">7-9 años</option>
                        <option value="9-12 años">9-12 años</option>
                        <option value="12-16 años">12-16 años</option>
                        <option value="16-18 años">16-18 años</option>
                        <option value="Universitarios">Universitarios</option>
                        <option value="Docentes">Docentes</option>
                    </select>
                    <div id="rangeAgeTeacher"></div>
                </div>
            </div>
            <div id="description">
                <p>Descripción</p>
                <textarea name="descriptionTeacher" id="descripcion">{{descriptionTeacher}}</textarea>
            </div>
            <div id="Cedula">
                <p>Cedula:</p>
                <input type="text" name="identificationCardTeacher" id="cedula" required
                    value="{{identificationCardTeacher}}">
            </div>

            <div id="Celular">
                <p>Celular:</p>
                <input type="text" name="phoneTeacher" id="celular" value="{{phoneTeacher}}">
            </div>
            <div id="Correos">
                <p>Correo Electrónico:</p>
                <input type="text" name="emailTeacher" id="correo" value="{{emailTeacher}}">
            </div>
            {{/each}}

            <div id="boton">
                <button type="submit">GUARDAR Y ENVÍAR</button>
            </div>
            <div id="cuadroDebajoDelForm">
                <!-- Contenido sin nada-->

            </div>
        </form>

    </div>
    <!-- footer-->
    <div id="footer">
        <div id="tarjetaNosotros">
            <div id="nosotrosFooter">
                <h1>Nosotros</h1>
            </div>
            <div id="datosNosotros">
                <p>¿Quiénes Somos?<br>
                    <br>
                    <br>
                    ¿Cómo funciona?<br>
                    <br>
                    <br>
                    Testimonios<br>
                    <br>
                    <br>
                    Preguntas frecuentes<br>
                    <br>
                    <br>
                    Contacto
                </p>
            </div>
        </div>
        <div id="tarjetaUnete">
            <div id="nosotrosFooter">
                <h1>Únete</h1>
            </div>
            <div id="datosNosotros">
                <p>Regístrate como estudiante <br>
                    <br>
                    <br>
                    Sé docente o coach
                </p>
            </div>
        </div>
        <div id="tarjetaLegal">
            <div id="nosotrosFooter">
                <h1>Legal</h1>
            </div>
            <div id="datosNosotros">
                <p>Términos y condiciones <br>
                    <br>
                    <br>
                    Políticas de privacidad
                </p>
            </div>
        </div>
        <div id="logoImagen">
            <img src="/img/logo/LogoPrincipal.png">
        </div>
        <div id="final">
            <p>Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
            <p id="finalFinal">ProfeGo® EDUCONECTA S.A.S</p>
        </div>
    </div>
</div>


<script src="/js/preview.js"></script>
<script src="/js/botonImagen.js"></script>
<script src="/js/botoncheck.js"></script>
<script src="/js/seleccionEspecialidad.js"></script>
<script src="/js/EdadSeleccion.js"></script>
<script src="/js/seleccionMaterias.js"></script>
<script src="/js/seleccionTitulo.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Q9PaOYlXpeqtj_0tHE19Zcoim25iSFg&callback=initAutocomplete&libraries=places&v=weekly"
    defer>
    </script>
<script src="/js/mapa.js"></script>