<link rel="stylesheet" href="/css/teacher/lista.css">
<div id="contenidoPefil">
    <div id="fondo">
        <img src="/img/fondo/Postulación.png">
    </div>
    {{#each listaTeacher}}
    <form action="/teacher/lista/{{idTeacher}}" method="get">
        <div id="datos">
            <div class="titulo">
                <h1 style="text-align: center;">Mi Perfil</h1>
            </div>
            <div id="imagenTeacher">
                <div id="cambioImagen">
                    <div class="imagen">
                        <img src="/img/usuario/{{photoTeacher}}" id="imagenPrevisualizacion">
                    </div>
                    <h3 class="nombre">Mi nombre es: {{completeNmeTeacher}}</h3>
                </div>
            </div>
            <div id="direccion">
                <div id="map"></div>
                <input type="text" name="addressTeacher" id="ubicacion" placeholder="Dirección"
                    value="{{addressTeacher}}" required>
            </div>
            <div class="flex" style="margin-top: 25px;">
                <div id="Eleccion">
                    <h5>Especialidad:</h5>
                    <div>
                        {{#each ../listaChouch}}
                        <div id="tarjeta" class="col">
                            <p>{{stateTeachCouch}}</p>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div id="fechaNacimiento">
                    <h5>Fecha Nacimineto:</h5>
                    <p>{{ageTeacher}}</p>
                </div>
            </div>

            <div id="tituloEspecialidad">
                <h5>Titulos:</h5>
                <div class="flex">
                    {{#each ../listaMaterias}}
                    <div id="tarjeta" class="col">
                        <p>{{nameSpecialType}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="documentacion">
                <h5>Documentación:</h5>
                <div class="flex">
                    <div id="DocumentoTitulo" class="documentos">
                        <iframe id="documentoTituloPrevisualizacion"
                            src="/archivos/teacher/{{endorsementCertificateTeacher}}"></iframe>
                    </div>
                    <div id="DocumentoHojaVida" class="documentos">
                        <iframe id="documentoHojaVidaPrevisualizacion"
                            src="/archivos/teacher/{{pageVitalTeacher}}"></iframe>
                    </div>
                    <div id="DocumentoAntecedentes" class="documentos">
                        <iframe id="documentoAntecedentesPrevisualizacion"
                            src="/archivos/teacher/{{criminalRecordTeacher}}"></iframe>
                    </div>
                </div>

            </div>
            <div id="materias">
                <h5>Materias:</h5>
                <div class="flex">
                    {{#each ../listaDetalle}}
                    <div id="tarjeta" class="col">
                        <p>{{subjetTeacher}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="edadRange">
                <h5>Edad:</h5>
                <div class="flex">
                    {{#each ../listaDetalle}}
                    <div id="tarjeta" class="col">
                        <p>{{rangeAgeTeacher}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="flex">
                <div id="Cedula">
                    <h5>Cedula:</h5>
                    <p>{{identificationCardTeacher}}</p>
                </div>
                <div id="Celular">
                    <h5>Celular:</h5>
                    <p>{{phoneTeacher}}</p>
                </div>
            </div>
            <div class="flex">
                 <div id="Correos">
                <h5>Correos:</h5>
                <p>{{emailTeacher}}</p>
            </div>
            <div id="estado">
                <h5>Estado:</h5>
                <p>{{stateTeacher}}</p>
            </div>
            </div>

            <div id="description">
                <h5>Description:</h5>
                <p>{{descriptionTeacher}}</p>
            </div>
           
            <div id="boton">
                <a href="/teacher/update/{{idTeacher}}"><button type="button">Actualizar Sus Datos</button></a>
            </div>
        </div>
        <div id="cuadroDebajoDelForm">
            <!-- Contenido sin nada-->

        </div>
    </form>
    {{/each}}
</div>
<!-- footer-->
<div id="footer">
    <div id="tarjetaNosotros">
        <div id="nosotrosFooter">
            <h1>Nosotros</h1>
        </div>
        <div id="datosNosotros">
            <p>¿Quiénes Somos?<br>
                <br>
                <br>
                ¿Cómo funciona?<br>
                <br>
                <br>
                Testimonios<br>
                <br>
                <br>
                Preguntas frecuentes<br>
                <br>
                <br>
                Contacto
            </p>
        </div>
    </div>
    <div id="tarjetaUnete">
        <div id="nosotrosFooter">
            <h1>Únete</h1>
        </div>
        <div id="datosNosotros">
            <p>Regístrate como estudiante <br>
                <br>
                <br>
                Sé docente o coach
            </p>
        </div>
    </div>
    <div id="tarjetaLegal">
        <div id="nosotrosFooter">
            <h1>Legal</h1>
        </div>
        <div id="datosNosotros">
            <p>Términos y condiciones <br>
                <br>
                <br>
                Políticas de privacidad
            </p>
        </div>
    </div>
    <div id="logoImagen">
        <img src="/img/logo/LogoPrincipal.png">
    </div>
    <div id="final">
        <p>Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
        <p id="finalFinal">ProfeGo® EDUCONECTA S.A.S</p>
    </div>
</div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Q9PaOYlXpeqtj_0tHE19Zcoim25iSFg&callback=initAutocomplete&libraries=places&v=weekly"
    defer></script>
<script src="/js/mapaDetalle.js"></script>