<link rel="stylesheet" href="/css/teacher/update.css">

<div class="bg-registro">
    <div class="container-sm my-4">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 text-white my-4">
                <h1>Postulación como docente o coach</h1>
                <h3>Completa y envía el siguiente formulario para la aprobación de tu postulación.</h3>
            </div>
            <div class="col-12 col-md-11">
                <div class="card d-flex justify-content-center align-items-center"
                    style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                    <div class="card-body col-md-10">
                        {{#each listaTeacher}}
                        <form action="/teacher/update/{{idTeacher}}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
                                {{#each ../listaPagina}}
                                <input type="text" name="idPagina" id="idPagina" value="{{idPage}}">
                                {{/each}}
                                <div class="col-12 mx-auto d-flex justify-content-center align-items-center my-3">
                                    <div class="image-container" id="cambioImagen">
                                        {{#if photoTeacher}}
                                        <img class="img-fluid imgReg" src="/img/user/{{photoTeacher}}"
                                            id="imagenPrevisualizacion" />
                                        {{else}}
                                        <img class="img-fluid imgReg" src="/img/icons/sinImagenTeacher.png"
                                            id="imagenPrevisualizacion" />
                                        {{/if}}
                                        <input type="file" name="photoTeacher" class="seleccionArchivos"
                                            accept="image/*" id="seleccionArchivos" style="display: none;" />
                                        <button type="button" id="botonImagen">
                                            <img src="/img/icons/nuevo23.png">
                                        </button>
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Nombre completo</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="text" class="form-control border-3" style="border-color: #f39325;"
                                            aria-describedby="inputGroup-sizing-lg" name="completeNmeTeacher"
                                            id="nombre" value="{{completeNmeTeacher}}" required>
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <div id="direccion">
                                        <div id="map"></div>
                                        <input id="pac-input" class="control fs-6" type="text" placeholder="Buscar" />
                                    </div>
                                    <input type="text" name="ubicacion" id="ubicacion" value="{{addressTeacher}}">
                                </div>

                                <div class="col-12 col-md-6 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Tipo de usuario</h5>
                                    </label>
                                    <select name="eleccion" id="eleccion" class="form-select border-3"
                                        style="font-size: 1.5rem;border-color: #f39325;">
                                        <option value="Docente">Docente</option>
                                        <option value="Coach">Coach</option>
                                        <option value="Docente y coach">Docente y coach</option>
                                    </select>
                                </div>

                                <div class="col-12 col-md-6 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Fecha de nacimiento</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="date" class="form-control border-3" style="border-color: #f39325;"
                                            aria-describedby="inputGroup-sizing-lg" name="ageTeacher" id="edad"
                                            value="{{ageTeacher}}" required>
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Nombre del título o especialidad
                                        </h5>
                                    </label>
                                    <select name="titulosEleccion" id="titulosElecciones" class="form-select border-3"
                                        style="font-size: 1.5rem;border-color: #f39325;">
                                        <option value="">Selecione su titulo</option>
                                        {{#each ../listaTitulos}}
                                        <option value="{{idSpecialType}}">{{nameSpecialType}}</option>
                                        {{/each}}
                                        <option value="titulo">otros</option>
                                    </select>
                                    <div id="titulosss"></div>
                                </div>

                                <div class="col-12 mb-3">
                                    <p style="color: #2d6f8a;"><input type="checkbox" name="" id="si"> Estoy capacitado
                                        para trabajar con
                                        estudiantes que tienen Necesidades Educativas
                                        Especiales
                                    </p>
                                    <div id="espesialidades" class="col-12 col-md-11">
                                        <select name="specialtyTypeIdSpecialType" id="especial"
                                            class="form-select border-3"
                                            style="font-size: 1.5rem;border-color: #f39325;">
                                            <option value="">Selecione su titulo</option>
                                            {{#each ../listaEspecialidades}}
                                            <option value="{{nameSpecialType}}">{{nameSpecialType}}</option>
                                            {{/each}}
                                            <option value="especial">otros</option>
                                        </select>
                                        <div id="especialidad"></div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <h1 class="fw-bold" style="color: #346b65;">Documentación requerida</h1>
                                    <div class="row" style="color: #2d6f8a;">
                                        <div class="col-12 col-md-4">
                                            <p class="mb-0">Título profesional y/o certificados de aval de enseñanza</p>
                                            <div class="border border-3 rounded"
                                                style="border-color: #f39325 !important;">
                                                <div class="col-12">
                                                    <input type="file" name="endorsementCertificateTeacher"
                                                        class="seleccionArchivos" accept="application/pdf"
                                                        id="seleccionTitulo" style="display: none;" />

                                                    <button type="button" class="botonImagen btn btn-light w-100"
                                                        data-input-id="seleccionTitulo"> <img src="/img/icons/Subir.png"
                                                            alt="Subir archivo" style="width: 40%;"><br>
                                                        Subir archivo
                                                    </button>
                                                </div>

                                                <div class="col-12" id="previewContainerEframe">
                                                    {{#if endorsementCertificateTeacher}}
                                                    <iframe style="width: 100%; height: 60%; border: none;"
                                                        id="documentoTituloPrevisualizacion"
                                                        src="/archivos/teacher/{{endorsementCertificateTeacher}}"></iframe>
                                                    {{else}}
                                                    <iframe style="width: 100%; height: 60%; border: none;"
                                                        id="documentoTituloPrevisualizacion" src=""></iframe>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 d-flex flex-column">
                                            <p class="mb-0">Hoja de vida actualizada</p>
                                            <div class="border border-3 rounded"
                                                style="border-color: #f39325 !important; margin-top: auto !important;">
                                                <div class="col-12">
                                                    <input type="file" name="pageVitalTeacher" class="seleccionArchivos"
                                                        accept="application/pdf" id="seleccionHojaVida"
                                                        style="display: none;" />
                                                    <button type="button" class="botonImagen btn btn-light w-100"
                                                        data-input-id="seleccionHojaVida"><img
                                                            src="/img/icons/Subir.png" style="width: 40%;"><br>Subir
                                                        archivo</button>
                                                </div>

                                                <div class="col-12" id="previewContainerEframe1">
                                                    {{#if pageVitalTeacher}}
                                                    <iframe style="width: 100%; height: 60%; border: none;"
                                                        id="documentoHojaVidaPrevisualizacion"
                                                        src="/archivos/teacher/{{pageVitalTeacher}}"></iframe>
                                                    {{else}}
                                                    <iframe style="width: 100%; height: 60%; border: none;"
                                                        id="documentoHojaVidaPrevisualizacion" src=""></iframe>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 d-flex flex-column">
                                            <p class="mb-0">Certificado de Antecedentes Penales</p>
                                            <div class="border border-3 rounded"
                                                style="border-color: #f39325 !important; margin-top: auto !important;">
                                                <div class="col-12">
                                                    <input type="file" name="criminalRecordTeacher"
                                                        class="seleccionArchivos" accept="application/pdf"
                                                        id="seleccionAntecedentes" style="display: none;" />
                                                    <button type="button" class="botonImagen btn btn-light w-100"
                                                        data-input-id="seleccionAntecedentes"><img
                                                            src="/img/icons/Subir.png" style="width: 40%;"><br>Subir
                                                        archivo</button>
                                                </div>

                                                <div class="col-12" id="previewContainerEframe2">
                                                    {{#if criminalRecordTeacher}}
                                                    <iframe style="width: 100%; height: 60%; border: none;"
                                                        id="documentoAntecedentesPrevisualizacion"
                                                        src="/archivos/teacher/{{criminalRecordTeacher}}"></iframe>
                                                    {{else}}
                                                    <iframe style="width: 100%; height: 60%; border: none;"
                                                        id="documentoAntecedentesPrevisualizacion" src=""></iframe>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="color: #2d6f8a;" class="mt-2">Sube tus archivos en formato .pdf
                                        (Recomendado)</p>
                                </div>

                                <div class="col-12 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Áreas/ asignaturas a enseñar</h5>
                                    </label>

                                    <div id="meterias" class="col-12">
                                        <select name="subjetTeacher" id="materiasEleccion" class="form-select border-3"
                                            style="font-size: 1.5rem;border-color: #f39325;">
                                            <option value="">Selecione su asignatura</option>
                                            {{#each ../listaMaterias}}
                                            <option value="{{nambeSubjects}}">{{nambeSubjects}}</option>
                                            {{/each}}
                                            <option value="materias">otros</option>
                                        </select>
                                        <div id="especialidadess"></div>
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Rango de edad de enseñanza</h5>
                                    </label>

                                    <div id="edadRange" class="col-12">
                                        <select name="rangeAgeTeacher" id="edadRango" class="form-select border-3"
                                            style="font-size: 1.5rem;border-color: #f39325;">
                                            <option value="">Selecione su rango de edad</option>
                                            <option value="3-5 años">3-5 años</option>
                                            <option value="5-7 años">5-7 años</option>
                                            <option value="7-9 años">7-9 años</option>
                                            <option value="9-12 años">9-12 años</option>
                                            <option value="12-16 años">12-16 años</option>
                                            <option value="16-18 años">16-18 años</option>
                                            <option value="Universitarios">Universitarios</option>
                                            <option value="Docentes">Docentes</option>
                                            <option value="Profecionales">Profecionales</option>
                                            <option value="TerceraEdad">Tercera Edad</option>
                                        </select>
                                        <div id="rangeAgeTeacher"></div>
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Descripción</h5>
                                    </label>
                                    <textarea style="font-size: 1.5rem;border-color: #f39325;"
                                        class="form-control border-3" rows="3" name="descriptionTeacher"
                                        id="descripcion">{{descriptionTeacher}}</textarea>
                                </div>

                                <div class="col-12 col-md-6 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Cedula</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="text" class="form-control border-3" style="border-color: #f39325;"
                                            aria-describedby="inputGroup-sizing-lg" name="identificationCardTeacher"
                                            id="cedula" value="{{identificationCardTeacher}}" required>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Celular</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="text" class="form-control border-3" style="border-color: #f39325;"
                                            aria-describedby="inputGroup-sizing-lg" name="phoneTeacher" id="celular"
                                            value="{{phoneTeacher}}">
                                    </div>
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label m-0">
                                        <h5 class="fw-bold" style="color: #23615b;">Correo Electrónico</h5>
                                    </label>
                                    <div class="input-group input-group-lg m-0">
                                        <input type="text" class="form-control border-3" style="border-color: #f39325;"
                                            aria-describedby="inputGroup-sizing-lg" name="emailTeacher" id="correo"
                                            value="{{emailTeacher}}">
                                    </div>
                                </div>
                                {{/each}}

                                <div class="text-center my-3">
                                    <button style="background-color: #0b4e71;" class="btn btn-lg text-white"
                                        type="submit">GUARDAR Y ENVÍAR</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="rounded-bottom" style="background-color: #f39323; height: 50px;"></div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="p-5" style="background-color: #fff9f0;">
        <div class="row">
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Nosotros</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/somos">
                        <p>¿Quiénes Somos?
                    </a>
                    <a href="/funciona">¿Cómo funciona?</a><br>
                    <br>
                    <a href="/">Testimonios</a><br>
                    <br>
                    <a href="/contactos#preguntas-frecuentes">Preguntas frecuentes</a><br>
                    <br>
                    <a href="/contactos">Contacto</a></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Únete</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/RegisterStudents">
                        <p>Regístrate como estudiante
                    </a>
                    <a href="/RegisterTeachers">Sé docente o coach</a>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="color: #236388;">
                    <h1 class="mb-0">Legal</h1>
                    <hr class="linea mt-0">
                </div>
                <div class="lh-1">
                    <a href="/policyList">
                        <p>Términos y condiciones
                    </a>
                    <a href="/policyList">Políticas de privacidad</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="d-flex justify-content-center">
                    <div class="qr-placeholder"></div>
                    <div class="qr-placeholder"></div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/img/logo/LogoPrincipal.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div style="background-color: #fbf1e3; color: #236388;" class="p-3">
        <div class="d-flex justify-content-between align-items-center mx-3">
            <p class="fs-5 m-0 text-start">Interconexión segura, rápida e ideal entre docentes y estudiantes.</p>
            <p class="fs-5 m-0 text-end">ProfeGo® EDUCONECTA S.A.S</p>
        </div>
    </div>
</div>

<script src="/js/preview.js"></script>
<script src="/js/botonImagen.js"></script>
<script src="/js/botoncheck.js"></script>
<script src="/js/seleccionEspecialidad.js"></script> 
<script src="/js/EdadSeleccion.js"></script>
<script src="/js/seleccionMaterias.js"></script>
<script src="/js/seleccionTitulo.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Q9PaOYlXpeqtj_0tHE19Zcoim25iSFg&callback=initAutocomplete&libraries=places&v=weekly"
    defer>
    </script>
<script src="/js/mapa.js"></script>