<link rel="stylesheet" href="/css/clases/detalle.css">

<div class="bg-curso-detalle">
    {{#each lista}}
    <div class="w-100 container-fluid pt-2">
        <form action="/cursos/detailList/{{idCours}}" method="get"></form>
        <div class="row mt-3 px-4">
            <div class="col-12 col-md-8 mb-3">
                <div class="row p-2 m-1" style="background-color: #147582;">
                    <div class="col-12 col-md-4" style="height: 400px; display: flex; justify-content: center; align-items: center;">
                        <img class="img-fluid bg-white rounded-4 my-auto" style="max-width: 100%; max-height: 100%; object-fit: contain;" {{#if photoCours}} src="/img/cours/{{photoCours}}" {{else}}
                            src="/img/icons/noImagen.png" {{/if}} alt="Imagen del Curso">
                    </div>
                    <div class="col-12 col-md-8 mb-2">
                        <div class="col-12 col-md-6 my-2 text-white">
                            <p class="fs-2 m-0 fw-bold">{{nameCours}}</p>
                            <p class="fs-5 m-0">{{nameCoursClassType}}</p>
                        </div>

                        <div id="direccion" class="mb-2">
                            <div style="width: 100%; height: 220px;" id="map"></div>
                            <input type="text" name="ubicacion" id="ubicacion" value="{{ubicacionCurso}}">
                        </div>
                        <p class="text-white fs-5 m-0"><input disabled type="checkbox" name="adactacion" id="adactacion"
                                value="on" {{#if neeCours}}checked{{/if}}> Adaptado para NEE</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3 mt-1">
                <div class="position-relative" style="max-width: 100%; max-height: auto;">
                    <video id="videoPreview" class="w-100" style="height: 300px; object-fit: contain;"
                        src="/video/cours/{{videoCours}}" controls></video>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="card p-4">
                    <div class="mb-3">
                        <h1 style="color: #145354;">Descripci贸n</h1>
                        <p>{{descriptionCours}}</p>
                    </div>
                    <div class="row mb-3">
                        <h3 style="color: #145354;">Docentes</h3>
                        {{#each ../docenteLista}}
                        <div class="card col-12 col-md-5 mb-2" style="overflow: hidden; margin-right: 10px;">
                            <div class="row">
                                <div class="col-12 col-md-6" style="position: relative;">
                                    <img src="/img/user/{{photoTeacher}}" class="img-fluid" style="width: 100%;">
                                    <img src="/img/icons/aprobado.png" class="img-fluid"
                                        style="position: absolute; top: 10px; left: 20px; width: 25%;">
                                </div>
                                <div class="col-12 col-md-6 my-auto">
                                    <div>
                                        <p class="fs-4">{{completeNmeTeacher}}</p>
                                        <p class="fs-6">{{descriptionTeacher}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="mb-3">
                        {{#each ../temario}}
                        <h3 style="color: #145354;">Temario educativo</h3>
                        <p>Objetivo: {{objetivesyllabusEducational}}</p>
                        <div id="moduloTotal">
                            <p>{{moduleCurrucularContentCourse}}M贸dulos</p>
                            |
                            <p>{{themesyllabusEducational}}Clases</p>
                            |
                            <p>{{timesyllabusEducational}}Duraci贸n total</p>

                        </div>
                        {{/each}}
                    </div>

                    {{!--
                    <div class="mb-3">
                        <h3 style="color: #145354;">Modalidad</h3>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div id="imagenPresencial">
                                    <img class="img-fluid" style="width: 50%;" src="/img/icons/presencial.png">
                                </div>
                                <p>Domicilio <input type="checkbox" name="" id="Presencial"></p>
                            </div>
                            <div class="col-12 col-md-6">
                                <div id="imagenVirtual">
                                    <img class="img-fluid" style="width: 50%;" src="/img/icons/online.png">
                                </div>
                                <p>Online<input type="checkbox" name="" id="virtual"></p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h1 style="color: #145354;">Tipo</h1>
                        <input type="text" name="curso" id="curso" value="{{tipoCurso}}">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div id="imagenCursos">
                                    <img class="img-fluid" style="width: 50%; src=" /img/icons/Cursos.png">
                                </div>
                                <p>Couch <input type="checkbox" name="" id="cursos"></p>
                            </div>
                            <div class="col-12 col-md-6">
                                <div id="imagenChouching">
                                    <img class="img-fluid" style="width: 50%; src=" /img/icons/Couching.png">
                                </div>
                                <p>Coaching para docentes<input type="checkbox" name="" id="Chouching"></p>
                            </div>
                        </div>
                    </div>--}}

                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <input type="text" id="fechaInicio" value="{{dateCoursInit}}" hidden>
                            <h3 style="color: #145354;">Fecha inicio</h3>
                            <p>{{dateCoursInit}}</p>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <input type="text" id="fechaFin" value="{{dateCoursFin}}" hidden>
                            <h3 style="color: #145354;">Fecha fin</h3>
                            <p>{{dateCoursFin}}</p>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <h3 style="color: #145354;">Hora</h3>
                            <p>{{hourCours}}</p>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <h3 style="color: #145354;">Cupos</h3>
                            <p>{{shareCours}}</p>
                        </div>
                        <div class="col-12 mb-3">
                            <h3 style="color: #145354;">Costo</h3>
                            <p>{{costCours}}</p>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <h3 style="color: #145354;">Edad o nivel</h3>
                            <div class="row">
                                <div class="col-3 col-md-4">
                                    <img style="background-color:#f09225;" class="img-fluid mx-auto rounded-3"
                                        src="/img/icons/edad.png">
                                </div>
                                <div class="col-9 col-md-8">
                                    {{#each ../listaDetalle}}
                                    <p>{{rangoEdadCurso}}</p>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <h3 style="color: #145354;">Recursos del Curso</h3>
                            <div class="row">
                                <div class="col-3 col-md-4">
                                    <img style="background-color:#f09225;" class="img-fluid mx-auto rounded-3"
                                        src="/img/icons/Recursos.png">
                                </div>
                                <div class="col-9 col-md-8">
                                    {{#each ../recursos}}
                                    <p>{{nameRecours}}</p>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <h3 style="color: #145354;">Materiales del Curso</h3>
                            <div class="row">
                                <div class="col-3 col-md-4">
                                    <img style="background-color:#f09225;" class="img-fluid mx-auto rounded-3"
                                        src="/img/icons/materiales.png">
                                </div>
                                <div class="col-9 col-md-8">
                                    {{#each ../materiales}}
                                    <p>{{nameMaterial}}</p>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <h3 style="color: #145354;">Tareas</h3>
                            <div class="row">
                                <div class="col-3 col-md-4">
                                    <img class="img-fluid mx-auto rounded-3"
                                        src="/img/icons/Tareas.png">
                                </div>
                                <div class="col-9 col-md-8">
                                    {{#each ../tareas}}
                                    <a href="/tareas/detailCurso/{{idTask}}">
                                        <p>{{nameTask}}</p>
                                    </a>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <h3 style="color: #145354;">Pruebas</h3>
                            <div class="row">
                                <div class="col-3 col-md-4">
                                    <img style="background-color:#f09225;" class="img-fluid mx-auto rounded-3"
                                        src="/img/icons/pruebas.png">
                                </div>
                                <div class="col-9 col-md-8">
                                    {{#each ../Pruebas}}
                                    <p>{{nameAssessment}}</p>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="row">
                    <div class="col-12 col-md-11 ms-auto mb-3">
                        <div class="card p-4">
                            <div class="col-12 mb-3">
                                <div class="d-flex align-items-center">
                                    <img style="width: 70px;" src="/img/icons/recursosCompleto.png"
                                        class="img-fluid imgNav me-3">
                                    <a href="/recours/cursos/{{idCours}}" class="btn btn-lg w-100 shadow rounded-2 "
                                        style="border: 2px solid #f09225;">
                                        Recursos
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-flex align-items-center">
                                    <img style="width: 70px;" src="/img/icons/materialesCompletos.png"
                                        class="img-fluid imgNav me-3">
                                    <a href="/material/cursos/{{idCours}}" class="btn btn-lg w-100 shadow rounded-2 "
                                        style="border: 2px solid #f09225;">
                                        Materiales del
                                        Estudiante
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-flex align-items-center">
                                    <img style="width: 70px;" src="/img/icons/TareasCompletas.png"
                                        class="img-fluid imgNav me-3">
                                    <a href="/tareas/curso/{{idCours}}" class="btn btn-lg w-100 shadow rounded-2 "
                                        style="border: 2px solid #f09225;">
                                        Tareas
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-flex align-items-center">
                                    <img style="width: 70px;" src="/img/icons/pruebas.png"
                                        class="img-fluid imgNav me-3">
                                    <a href="/pruebas/curso/{{idCours}}" class="btn btn-lg w-100 shadow rounded-2 "
                                        style="border: 2px solid #f09225;">
                                        Pruebas
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-flex align-items-center">
                                    <img style="width: 70px;" src="/img/icons/asistencia.png"
                                        class="img-fluid imgNav me-3">
                                    <a href="/asistencia/curso/{{idCours}}" class="btn btn-lg w-100 shadow rounded-2 "
                                        style="border: 2px solid #f09225;">
                                        Asistencia
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-flex align-items-center">
                                    <img style="width: 70px;" src="/img/icons/observaciones.png"
                                        class="img-fluid imgNav me-3">
                                    <a href="/observacionValoracion/curso/{{idCours}}"
                                        class="btn btn-lg w-100 shadow rounded-2 " style="border: 2px solid #f09225;">
                                        Observaciones y
                                    valoraci贸n
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-flex align-items-center">
                                    <img style="width: 70px;" src="/img/icons/somos.png"
                                        class="img-fluid imgNav me-3">
                                    <a href="/silabus/curso/{{idCours}}"
                                        class="btn btn-lg w-100 shadow rounded-2 " style="border: 2px solid #f09225;">
                                        Contenido Curricular
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12">
                        <div class="row d-flex justify-content-center mb-3">
                            <div class="col-12 col-md-3 mb-1 d-flex justify-content-center align-items-center">
                                <span
                                    style="background-color: #008000; width: 20px; height: 20px; margin-right: 5px;"></span>
                                <p style="margin-bottom: 0;">Libre</p>
                            </div>

                            <div class="col-12 col-md-3 mb-1 d-flex justify-content-center align-items-center">
                                <span
                                    style="background-color: #f39325; width: 20px; height: 20px; margin-right: 5px;"></span>
                                <p style="margin-bottom: 0;">Ocupado</p>
                            </div>

                            <div class="col-12 col-md-3 mb-1 d-flex justify-content-center align-items-center">
                                <span
                                    style="background-color: #ff0000; width: 20px; height: 20px; margin-right: 5px;"></span>
                                <p style="margin-bottom: 0;">No disponible</p>
                            </div>
                        </div>
                        <div id="calendar"></div>
                    </div>

                    <div class="col-12 mb-3 botonPanico">
                        <button class="boton-panico" type="button"></button>
                    </div>

                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Q9PaOYlXpeqtj_0tHE19Zcoim25iSFg&callback=initAutocomplete&libraries=places&v=weekly"
    defer></script>
<script src="/js/mapaDetalle.js"></script>
<script src="/js/detalleCurso.js"></script>
<script src="/js/calendar.js"></script>