<link rel="stylesheet" href="">
<div id="contenedor">
    <div id="datos curso">
        <div id="foto">
            <p><img src="/img/cours/{{photoCours}}" alt=""></p>
            <div id="Nombre">
                <p>{{nameCours}}</p>
            </div>
            <input type="checkbox" name="adactacion" id="adactacion" value="si">
        </div>
        <div id="video">
            <p><video src="/video/cours/{{videoCours}}" controls></video></p>
        </div>
        <div id="segundoCuadro">
            <div id="descripcion">
                <p>{{descriptionCours}}</p>
            </div>
            <div id="temario">
                <div id="tituloTemario">
                    <h1>Temario educativo</h1>
                </div>
                <div id="objetivo">
                    <p>Objetivo: {{}}</p>
                </div>
                <div id="modulos">
                    <p>{{}} Módulos</p>
                </div>
                <div id="clases">
                    <p>{{}}Clases</p>
                </div>
                <div id="cupos">
                    <p>{{}} Cupos disponibles</p>
                </div>
                <div id="duracion">
                    <p>{{}} Duración total</p>
                </div>
                <div id="crearTemario">
                    <p>Crear temario educativo</p>
                    <a href=""><button type="button"><img src=""></button></a>
                </div>
                <div id="Modalidad">
                    <p>Modalidad</p>
                    <input type="text" name="modalidad" id="modalidad" value="{{}}">
                    <div id="presencial">
                        <div id="imagenPresencial">
                            <img src="">
                        </div>
                        <p>Presencial <input type="checkbox" name="" id="Presencial"></p>
                    </div>
                    <div id="Virtual">
                        <div id="imagenVirtual">
                            <img src="">
                        </div>
                        <p>Virtual<input type="checkbox" name="" id="virtual"></p>
                    </div>
                </div>
                <div id="Curso">
                    <p>Tipo</p>
                    <input type="text" name="curso" id="curso" value="{{}}">
                    <div id="Cursos">
                        <div id="imagenCursos">
                            <img src="">
                        </div>
                        <p>Cursos <input type="checkbox" name="" id="cursos"></p>
                    </div>
                    <div id="Chouching">
                        <div id="imagenChouching">
                            <img src="">
                        </div>
                        <p>Coaching para docentes<input type="checkbox" name="" id="Chouching"></p>
                    </div>
                </div>
                <div id="Edad">
                    <p>Edad o nivel</p>
                    <div id="imageEdad">
                        <img src="">
                    </div>
                    <div id="edad">
                        <p>{{}}</p><input type="checkbox" name="" id="" checked readonly>
                    </div>
                </div>
                <div id="recursos">
                    <p>Recursos del Curso</p>
                    <div id="imagenRecurso">
                        <img src="">
                    </div>
                    <div id="agregarRecurso">
                        <a href=""><p>Agregar recursos</p></a>
                    </div>
                </div>
                <div id="Materiales">
                    <p>Materiales del Curso</p>
                    <div id="imagenRecurso">
                        <img src="">
                    </div>
                    <div id="agregarRecurso">
                        <a href=""><p>Agregar Materiales</p></a>
                    </div>
                </div>
                <div id="tareas">
                    <p>Tareas</p>
                    <div id="imagenTareas">
                        <img src="">
                    </div>
                    <div id="botonTareas">
                        <a href=""><button type="button">Agregar Tarea</button></a>
                    </div>
                </div>
                <div id="Pruebas">
                    <p>Pruebas</p>
                    <div id="imagenPruebas">
                        <img src="">
                    </div>
                    <div id="botonPruebas">
                        <a href=""><button type="button">Agregar Prueba</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="fehcaInit">
            <p>{{dateCoursInit}}</p>
        </div>
        <div id="fehcaFin">
            <p>{{dateCoursFin}}</p>
        </div>
        <div id="hora">
            <p>{{hourCours}}</p>
        </div>
        <div id="cupos">
            <p>{{shareCours}}</p>
        </div>
        <div id="costo">
            <p>{{costCours}}</p>
        </div>
    </div>
</div>