<link rel="stylesheet" href="/css/cursos/lista.css">
{{#each listaTeacher}}
<form action="/cours/list/{{idTeacher}}" method="get">
    {{/each}}
    <div id="contenedor">
        <div id="fondo">
            <img src="/img/icons/fondoLista.png">
        </div>
        <div id="titulo">
            <p>Mis Servicios</p>
        </div>
        <div id="contenedorCursoGeneral">
            <div id="Cursos">
                <div id="imagenesCursos">
                    <img src="/img/icons/cursTLS.png">
                    <p>Curso</p>
                </div>
                <div class="row">
                    {{#each lista}}
                    <div class="flex">
                        
                        <div id="tarjeta">
                            <div id="tarjetaInterna">
                                <a href="/cours/detailList/{{idCours}}">
                                    <div id="foto">
                                        <p><img src="/img/cours/{{photoCours}}" alt=""></p>
                                    </div>
                                    <div id="pasos">
                                        <div class="espaciosTarjetaInfo">
                                            <div id="Nombre">
                                                <p>{{nameCours}}</p>
                                            </div>
                                            <div id="cupos">
                                                <p>{{shareCours}}</p>
                                            </div>
                                            <div id="estado">
                                                <p>{{stateCours}}</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div id="descripcion">
                                                <p>{{descriptionCours}}</p>
                                            </div>
                                            <div id="fehca">
                                                <p>{{dateCours}}</p>
                                            </div>
                                            <div id="hora">
                                                <p>{{hourCours}}</p>
                                            </div>
                                            <div id="costo">
                                                <p> <img src="/img/icons/tarifa.png" alt="Descripción del ícono"
                                                        style="width: 30px; height: 30px;"> {{costCours}}</p>
                                            </div>
                                            <div id="calificacion">
                                                <p>{{calificationCours}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div id="opcionesLista">
                                <div id="actualizar">
                                    <a href="/cours/update/{{idCours}}"><button type="button">Actualizar</button></a>
                                </div>
                                <div id="materialesDeClase">
                                    <a href="/material/cursos/{{idCours}}"><button type="button">Materiales</button></a>
                                </div>
                                <div id="recursosDeClase">
                                    <a href="/recours/add/{{idCours}}"><button type="button">Recursos</button></a>
                                </div>
                                <div id="desavilitar">
                                    <a href="/cours/delete/{{idCours}}"><button type="button">Desabilitar</button></a>
                                </div>
                            </div>
                        </div>
                        <div id="video">
                            <video src="/video/cours/{{videoCours}}" controls></video>
                        </div>
                    </div>
                    <br>
                    <hr>
                    {{/each}}
                </div>
            </div>
        </div>
        <div id="filtros">
            <div id="filtrosBoton">
                <button type="button" id="fil">Filtrar por <img src="/img/icons/filtro.png"></button>
            </div>
            <div id="serviciosFiltros">
                <div id="serviciosGneneral">
                    <div id="titulo1">
                        <a href="/filtro/clases">Clases</a>
                    </div>
                    <div id="titulo2">
                        <a href="/filtro/cursos">Cursos</a>
                    </div>
                    <div id="titulo3">
                        <a href="/filtro/coaching">Coaching</a>
                    </div>
                </div>
                <div id="modalidadFiltro">
                    <div id="titulo1">
                        <a href="/filtro/Online">Online</a>
                    </div>
                    <div id="titulo2">
                        <a href="/filtro/Domicilio">Domicilio o presencial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{#each listaTeacher}}
<div id="mas">
    <a href="/cours/add/{{idTeacher}}"><button type="button"><img src="/img/icons/mas.png"></button></a>
</div>
{{/each}}
<script src="/js/filtro.js"></script>