<link rel="stylesheet" href="/css/cursos/add.css">
{{#each lista}}
<form action="/cours/update/{{idCours}}" method="post" enctype="multipart/form-data">
    <div id="contenedor">
        <div id="fondo">
            <img src="/img/icons/fondoLista.png">
        </div>
        <div id="tiutlo">
            <p>Actualizar Curso <input type="text" name="idCours" id="idCours" value="{{idCours}}"></p>
        </div>
        <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
        <div id="central">
            <div id="imagens">
                <div id="cambioImagen">
                    <img src="/img/cours/{{photoCours}}" id="imagenPrevisualizacion" />
                </div>
                <input type="file" name="photoCours" id="seleccionArchivos" accept="image/*" />
                <button type="button" id="botonImagen"><img src="/img/icons/Subir.png"></button>
            </div>
            <div id="nombre">
                <p>Nombre del Curso:</p>
                <input type="text" name="nameCours" id="nameCours" required value="{{nameCours}}">
            </div>
            <div id="direccion">
                <div id="map"></div>
                <input type="text" name="ubicacion" id="ubicacion" value="{{ubicacionCurso}}">
            </div>
        </div>
        <div id="videosS">
            <div id="cambioVideo">
                <video src="/video/cours/{{videoCours}}" controls></video>
            </div>
            <input type="file" name="videoCours" id="idVideo" accept="image/*" />
        </div>
        <div id="datosGenerales">
            <div id="descripcion">
                <p>Descripción del Curso:</p>
                <textarea name="descriptionCours" id="descriptionCours" required>{{descriptionCours}}</textarea>
            </div>
            <div id="fechaInicio">
                <p>Fecha inicio:</p>
                <input type="text" name="dateCoursInit" id="dateCours" value="{{dateCoursInit}}">
            </div>
            <div id="fechaFin">
                <p>Fecha Fin:</p>
                <input type="text" name="dateCoursFin" id="dateCours" required value="{{dateCoursFin}}">
            </div>
            <div id="costo">
                <p>Costo:</p>
                <input type="text" name="costCours" id="costCours" required value="{{costCours}}">
            </div>
            <div id="cupos">
                <p>Cupos:</p>
                <input type="text" name="shareCours" id="shareCours" value="{{shareCours}}">
            </div>
            <div id="Hora">
                <p>Tiempo del Curso:</p>
                <input type="text" name="hourCours" id="hourCours" value="{{hourCours}}">
            </div>
            <div id="estado">
                <p>Estado:</p>
                <div id="Activar">
                    <input type="text" name="stateCours" id="idestado" readonly value="{{stateCours}}">
                    <button type="button" id="activarBtn">Activar</button>
                </div>
                <div id="desActivar">
                    <button type="button" id="desactivarBtn">Desabilitar</button>
                </div>
            </div>
        </div>
        {{/each}}
        <div id="boton">
            <button type="submit">Actualizar</button>
        </div>
    </div>
</form>

<script src="/js/preview.js"></script>
<script src="/js/estados.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Q9PaOYlXpeqtj_0tHE19Zcoim25iSFg&callback=initAutocomplete&libraries=places&v=weekly"
    defer></script>
<script src="/js/mapaDetalle.js"></script>
<script src="/js/botonImagen.js"></script>