<link rel="stylesheet" href="/css/recours/add.css">
{{#each listaCurso}}
<form action="/recours/curso/{{idCours}}" method="post">
    <div class="bg-fondo pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    {{#each ../maximo}}
                    <h1 class="text-center fw-bold mb-3" style="color: #f39325;">Agregar Recurso<input type="text"
                            name="idRecours" id="numero" required value="{{Maximo}}">
                    </h1>
                    {{/each}}

                    <div class="card mb-4 text-white text-start fs-5 shadow"
                        style="background: linear-gradient(to bottom, #014f78, #167283);">
                        <div class="card-body">
                            <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">

                            <div class="mb-4">
                                <label class="form-label m-0">Nombre</label>
                                <input type="text" class="form-control border-warning border-2" name="nameRecours"
                                    id="nameRecours" required>
                            </div>

                            <div class="mb-4">
                                <label class="form-label m-0">Descripcion</label>
                                <textarea rows="3" type="text" class="form-control border-warning border-2"
                                    name="descriptionRecourse" 1id="descriptionRecourse" required></textarea>
                            </div>

                            <div class="mb-4">
                                <label class="form-label m-0">Cantidad</label>
                                <input type="number" class="form-control border-warning border-2" name="quantyRecours"
                                    id="quantyRecours" required>
                            </div>

                            <div class="mb-4">
                                <label class="form-label m-0">Precio</label>
                                <input type="number" class="form-control border-warning border-2" name="valueRecours"
                                    id="valueRecours" required>
                            </div>

                            <div class="text-center">
                                <button class="py-2" style="background-color: #f39325; border-radius:10px;"
                                    type="submit"><span class="px-4 mx-3">Guardar</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{/each}}

{{#each listaClase}}
<form action="/recours/clase/{{idClases}}" method="post">
    <div class="bg-fondo pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    {{#each ../maximo}}
                    <h1 class="text-center fw-bold mb-3" style="color: #f39325;">Agregar Recurso<input type="text"
                            name="idRecours" id="numero" required value="{{Maximo}}"></h1>
                    {{/each}}
                    <div class="card mb-4 text-white text-start fs-5 shadow"
                        style="background: linear-gradient(to bottom, #014f78, #167283);">
                        <div class="card-body">
                            <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">

                            <div class="mb-4">
                                <label class="form-label m-0">Nombre</label>
                                <input type="text" class="form-control border-warning border-2" name="nameRecours"
                                    id="nameRecours" required>
                            </div>

                            <div class="mb-4">
                                <label class="form-label m-0">Descripcion</label>
                                <textarea rows="3" type="text" class="form-control border-warning border-2"
                                    name="descriptionRecourse" id="descriptionRecourse" required></textarea>
                            </div>

                            <div class="mb-4">
                                <label class="form-label m-0">Cantidad</label>
                                <input type="number" class="form-control border-warning border-2" name="quantyRecours"
                                    id="quantyRecours" required>
                            </div>

                            <div class="mb-4">
                                <label class="form-label m-0">Precio</label>
                                <input type="number" class="form-control border-warning border-2" name="valueRecours"
                                    id="valueRecours" required>
                            </div>

                            <div class="text-center">
                                <button class="py-2" style="background-color: #f39325; border-radius:10px;"
                                    type="submit"><span class="px-4 mx-3">Guardar</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{/each}}

<script src="/js/numero.js"></script>