<link rel="stylesheet" href="/css/recours/add.css">
{{#each listaCurso}}
<form action="/recours/curso/{{idCours}}" method="post">
    <div id="contenedor">
        <div id="fondo">
            <img src="/img/fondo/Tareas.png" alt="Fondo">
        </div>
        <div id="titulo">{{#each ../maximo}}
            <h1>Agregar Recursos <input type="text" name="idRecours" id="numero" required value="{{Maximo}}"></h1>
            {{/each}}
        </div>
        <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
        <div id="datos">
            <div id="nombre">
                <p>Nombre del Recurso:</p>
                <input type="text" name="nameRecours" id="nameRecours" required>
            </div>
            <div id="descripcion">
                <p>Descripcion del Recurso:</p>
                <textarea type="text" name="descriptionRecourse" id="descriptionRecourse" required></textarea>
            </div>
            <div id="cantidad">
                <p>Cantidad del Recurso:</p>
                <input type="text" name="quantyRecours" id="quantyRecours" required>
            </div>
            <div id="valor">
                <p>Precio del Recurso</p>
                <input type="text" name="valueRecours" id="valueRecours" required>
            </div>
            <div id="boton">
                <button type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>
{{/each}}

{{#each listaClase}}
<form action="/recours/curso/{{idClases}}" method="post">
    <div id="contenedor">
        <div id="titulo">{{#each ../maximo}}
            <p>Agregar Recursos <input type="text" name="idRecours" id="numero" required value="{{Maximo}}"></p>
            {{/each}}
        </div>
        <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
        <div id="nombre">
            <p>Nombre del Recurso:</p>
            <input type="text" name="nameRecours" id="nameRecours" required>
        </div>
        <div id="descripcion">
            <p>Descripcion del Recurso:</p>
            <textarea type="text" name="descriptionRecourse" id="descriptionRecourse" required></textarea>
        </div>
        <div id="cantidad">
            <p>Cantidad del Recurso:</p>
            <input type="text" name="quantyRecours" id="quantyRecours" required>
        </div>
        <div id="valor">
            <p>Precio del Recurso</p>
            <input type="text" name="valueRecours" id="valueRecours" required>
        </div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>
{{/each}}

<script src="/js/numero.js"></script>