<link rel="stylesheet" href="">
{{#each listaCurso}}
<form action="/recours/cursos/{{idCours}}" method="post">
    <div id="mas">
        <a href="/recours/curso/{{idCours}}">+</a>
    </div>
    {{/each}}
    <div id="contenedor">
        <div id="titulo">
            <p>Lista de Recursos</p>
        </div>
        <div id="Datos">
            <div class="row">
                {{#each ../lista}}
                <div id="tarjeta">
                    <div id="nombre">
                        <p>{{nameRecours}}</p>
                    </div>
                    <div id="descripcion">
                        <p>{{descriptionRecourse}}</p>
                    </div>
                    <div id="cantidad">
                        <p>{{quantyRecours}}</p>
                    </div>
                    <div id="valor">
                        <p>{{valueRecours}}</p>
                    </div>
                    <div id="estado">
                        <p>{{stateRecours}}</p>
                    </div>
                    <div id="actualizar">
                        <a href="/recours/updateCurso/{{idRecours}}"><button type="button">Actualizar</button></a>
                    </div>
                    <div id="desavilitar">
                        <a href="/recours/deleteCurso/{{idRecours}}"><button type="button">Desabilitar</button></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</form>


{{#each listaClase}}
<form action="/recours/clases/{{idClases}}" method="post">
    <div id="mas">
        <a href="/recours/clase/{{idClases}}">+</a>
    </div>
    {{/each}}
    <div id="contenedor">
        <div id="titulo">
            <p>Lista de Recursos</p>
        </div>
        <div id="Datos">
            <div class="row">
                {{#each ../lista}}
                <div id="tarjeta">
                    <div id="nombre">
                        <p>{{nameRecours}}</p>
                    </div>
                    <div id="descripcion">
                        <p>{{descriptionRecourse}}</p>
                    </div>
                    <div id="cantidad">
                        <p>{{quantyRecours}}</p>
                    </div>
                    <div id="valor">
                        <p>{{valueRecours}}</p>
                    </div>
                    <div id="estado">
                        <p>{{stateRecours}}</p>
                    </div>
                    <div id="actualizar">
                        <a href="/recours/updateClase/{{idRecours}}"><button type="button">Actualizar</button></a>
                    </div>
                    <div id="desavilitar">
                        <a href="/recours/deleteClases/{{idRecours}}"><button type="button">Desabilitar</button></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</form>